/* TODO: will contain style for the default theme */

.boxViewContainer .box {
  	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-transition-property: -webkit-box-shadow, padding;
    -webkit-transition-duration: 0.7s, 0.7s;
    -webkit-animation-timing-function: ease-in;
}

.boxViewContainer .box.ui-draggable-dragging {
    margin-top: -10px;
  	-webkit-box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition-property: -webkit-box-shadow, margin-top;
    -webkit-transition-duration: 0.5s, 0.5s;
    -webkit-animation-timing-function: ease-in;
}

body div.ui-widget-overlay {
    background: -webkit-radial-gradient(rgba(67, 67, 67, 0.8), 
                                        rgba(67, 67, 67, 0.8) 10%, 
                                        rgba(0, 0, 0, 1.0) 70%, 
                                        rgba(0, 0, 0, 1.0));
    background: -moz-radial-gradient(rgba(67, 67, 67, 0.8), 
                                    rgba(67, 67, 67, 0.8) 10%, 
                                    rgba(0, 0, 0, 1.0) 70%, 
                                    rgba(0, 0, 0, 1.0));
}
body div.ui-dialog.ui-widget-content {
  	-webkit-box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.5);
}