<div class='widget myDoni'>


    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>I miei notebook</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    	</div>
    </div>
    <div class='widgetContent'>
        <% if my.length > 0 %>
            <%= render :partial => '/bookmarks/notebook_and_bookmarks.html', :object => my %>
        <% else %>
            Non ci sono tuoi notebook su questa pagina
        <% end %>
    </div>

    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Altri notebook</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    	</div>
    </div>
    <div class='widgetContent'>
        <% if subscribed.length > 0 %>
            <%= render :partial => '/bookmarks/notebook_and_bookmarks.html', :object => subscribed %>
        <% else %>
            Non ci sono notebook di altri autori su questa pagina
        <% end %>
    </div>

</div>