<div class='widget loginBoxWidget'>
    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Account</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
        </div>
    </div>
    <div class='widgetContent'>
        <div id='myDoniLoginBox'>
            Indirizzo email: <input type='text' id='myDoniUser' name='myDoniUser' placeholder='Indirizzo email' autofocus><br />
            Password: <input type='password' id='myDoniPassword' placeholder='password'>
            <button class='myDoniLoginButton'>Accedi</button>
            <p><a class='myDoni' href="boxView.php?method=getMyDoniForgotPassword">Ho dimenticato la password...</a></p>
            <p><a class='myDoni' href="boxView.php?method=getMyDoniUserSignup">Crea un nuovo account...</a></p>

        </div>
    </div>
</div>