<div class='widget myDoniWidget'>

    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Account</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    	</div>
    </div>
    <div class='widgetContent expanded'>
        Ciao <%= @talia_user.name %> <br>
        <button class='logout'>Logout</button>
    </div>
    
    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Preferenze</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='collapsed' href='#' title='Collapse'>Collapse</a></p>
        </div>
    </div>
    <div class='widgetContent collapsed'>Le tue preferenze sono state applicate.</div>

    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>I miei Notebook</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
        </div>
    </div>
    <div class='widgetContent'>
        <%= render :partial => '/bookmarks/notebook_index.html', :object => @my_notebooks %>
    </div>
    
    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Altri Notebook</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
        </div>
    </div>
    <div class='widgetContent'>
        <p><input class='my_doni_notebook_title' placeholder='incolla qui il nome del notebook'></p><button class='my_doni_add_notebook'>Aggiungi il notebook</button></p>
        <%= render :partial => '/bookmarks/notebook_index.html', :object => @subscribed_notebooks %>
    </div>

</div>
