<h3>Crea un nuovo Notebook</h3>
<div class='newnb_form'>
    <ul>
        <li><input type='text' class='nb_title' placeholder='Titolo del nuovo notebook ..'></li>
        <li><input type='checkbox' CHECKED class='nb_public'>Pubblico</li>
        <li><textarea cols='40' rows='3' class='nb_note' placeholder="Nota del nuovo notebook .. "></textarea></li>
        <li><button class='nb_save_button'>Salva</button></li>
    </ul>
</div>