<div class='signup_form'>
    <ul class="form">
        <li>Username: <input type='text' class='signup_username' placeholder='Username'></li>
        <li>Indirizzo email: <input type='text' class='signup_email' placeholder='indirizzo@email.it'></li>
        <li>Password: <input type='password' class='signup_password' placeholder='Password'></li>
        <li>Conferma la password: <input type='password' class='signup_password_confirmation' placeholder='Conferma password'></li>
        <li><button class='signup_save_button'>Crea</button></li>
    </ul>
</div>