/* BoxView Schopenhauer Theme */

/* *********************************** */
/* Box */
/* *********************************** */

/* Generic font used by the boxview */
.boxViewContainer * { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 10pt;
}

/* Bg for the whole boxview */
.boxViewContainer {
	background: #fff;
}

/* Bg for the single box */
.boxViewContainer .box {
	background: #fff;
}

/* Collapsed box */
.boxViewContainer .box.collapsed {
	background-color: #8e8969;
	background: -moz-linear-gradient(100% 100% 180deg, #847e65, #a7a471);
	background: -webkit-gradient(linear, right bottom, left bottom, from(#847e65), to(#a7a471));
	background: -webkit-linear-gradient(linear, right bottom, left bottom, 847e65, #a7a471);
	background: -o-linear-gradient(linear, right bottom, left bottom, #847e65, #a7a471);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#847e65', endColorstr='#a7a471');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#847e65', endColorstr='#a7a471')";
}

/* Box header expanded */
.boxViewContainer .box.expanded .boxHeader {
	border-bottom: 1px solid #fff;
	background-color: #8e8969;
	background: -moz-linear-gradient(100% 100% 90deg, #847e65, #a7a471);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#847e65), to(#a7a471));
	background: -webkit-linear-gradient(847e65, #a7a471);
	background: -o-linear-gradient(#847e65, #a7a471);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#847e65', endColorstr='#a7a471');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#847e65', endColorstr='#a7a471')"; 
}

/* Box header expanded title */
.boxViewContainer .box.expanded .title h3.boxHeaderTitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-shadow: 0px -1px 0px #45402d;
}

/* Box content Header collapsed title */
.boxViewContainer .box.collapsed .boxCollapsedContent .verticalContainer p {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-shadow: 0px -1px 0px #45402d;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
}

.boxViewContainer .box.ui-draggable-dragging {
    margin-top: -10px;
  	-webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition-property: -webkit-box-shadow, margin-top;
    -webkit-transition-duration: 0.25s, 0.25s;
    -webkit-animation-timing-function: ease-in;
  	-moz-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    -moz-transition-property: -webkit-box-shadow, margin-top;
    -moz-transition-duration: 0.25s, 0.25s;
    -moz-animation-timing-function: ease-in;
}

/* Box tools and buttons, both for expanded and collapsed status */ 
.boxViewContainer .box.expanded .boxHeader ul li a.collapseTool {
	background-image: url(images/boxes/box_bar_expanded.png);
}
.boxViewContainer .box.collapsed .boxHeader ul li a.collapseTool {
	background-image: url(images/boxes/box_bar_collapsed.png);
}
.boxViewContainer .box.expanded .boxHeader ul li a.removeTool {
	background-image: url(images/boxes/box_bar_close.png);
}
.boxViewContainer .box.collapsed .boxHeader ul li a.removeTool {
	background-image: url(images/boxes/box_bar_close.png);
}
.boxViewContainer .box.expanded .boxHeader ul li a.collapseTool:hover {
	background-image: url(images/boxes/box_bar_expanded_ro.png);
}
.boxViewContainer .box.collapsed .boxHeader ul li a.collapseTool:hover {
	background-image: url(images/boxes/box_bar_collapsed_ro.png);
}
.boxViewContainer .box.expanded .boxHeader ul li a.removeTool:hover {
	background-image: url(images/boxes/box_bar_close_ro.png);
}
.boxViewContainer .box.collapsed .boxHeader ul li a.removeTool:hover {
	background-image: url(images/boxes/box_bar_close_ro.png);
}




/* Classified Boxes (Welcome, Home, History, etc etc ) */
/* Welcome Box content Header - Expanded */
.boxViewContainer .box.expanded.welcome .boxHeader {
	background-color: #faf6e8;
	background: -moz-linear-gradient(100% 100% 90deg, #e4dfcf, #faf7ec);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e4dfcf), to(#faf7ec));
	background: -webkit-linear-gradient(#e4dfcf, #faf7ec);
	background: -o-linear-gradient(#e4dfcf, #faf7ec);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e4dfcf', endColorstr='#faf7ec');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e4dfcf', endColorstr='#faf7ec')"; 
}

/* Welcome Box content Header - Collapsed */
.boxViewContainer .box.collapsed.welcome {
	background-color: #faf6e8;
	background: -moz-linear-gradient(100% 100% 180deg, #e4dfcf, #faf7ec);
	background: -webkit-gradient(linear, right bottom, left bottom, from(#e4dfcf), to(#faf7ec));
	background: -webkit-linear-gradient(linear, right bottom, left bottom, #e4dfcf, #faf7ec);
	background: -o-linear-gradient(linear, right bottom, left bottom, #e4dfcf, #faf7ec);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#e4dfcf', endColorstr='#faf7ec');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#e4dfcf', endColorstr='#faf7ec')"; 
}

/* .boxViewContainer .box.index.collapsed */

/* Welcome Box content Header - Expanded: H3*/
.boxViewContainer .box.expanded.welcome .boxHeader .title h3.boxHeaderTitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #807a5a;
	text-shadow: 0px 1px 1px #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
}

/* Welcome Box content Header - Coppalsed: p*/
.boxViewContainer .box.collapsed.welcome .boxCollapsedContent .verticalContainer p {
	color: #807a5a;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-shadow: 0px -1px 0px #fff;
}

.boxViewContainer .box.expanded.welcome, .boxViewContainer .box.expanded.welcome .boxContent {
	background: #ffffff;
	color: #6b685e;
}

/* History Box */
.boxViewContainer .box.history .boxHeader, 
.boxViewContainer .box.history.collapsed,
.boxViewContainer .box.history.collapsed .boxCollapsedContent {
	background-color: #cacaca;
}

.boxViewContainer .box.history .history_item {
	background-color: #036;
    color: white;
}

.boxViewContainer .box.history .history_item:hover {
    background-color: #258;
}

.boxViewContainer .box.history .history_item span.history_status {
    background-color: #fff;
}

.boxViewContainer .box.history .history_item.collapsed {
    color: #666;
}

.boxViewContainer .box.history .history_item.collapsed span.history_status {
    background-color: #666;
}

.boxViewContainer .box.history .history_item.closed span.history_status {
    background-color: #000;
}

.boxViewContainer .box.history .history_item span.history_action {
    color: #c60;
}

.boxViewContainer .box.history .history_item span.history_action:hover {
    color: #fc0;
}

/* Index Box */
.boxViewContainer .box.index .boxHeader, 
.boxViewContainer .box.index.collapsed,
.boxViewContainer .box.index.collapsed .boxCollapsedContent {
	background-color: #7d7d7d;
}


/* *********************************** */
/* Widget */
/* *********************************** */

/* Widget Header */
.boxViewContainer .box .widgetHeader {
	border-bottom: 1px solid #FFF;	
	background-color: #c2c2c2;
}

/* 
   Height of the widget Header
   The widget header height involves the height of the div itself, the list elements that contains icons, the h4 containing the title	
 */
.boxViewContainer .box .widgetHeader, .boxViewContainer .box .widgetHeader li, .boxViewContainer .box .widgetHeader li a, .boxViewContainer .box .widgetHeader h4 {
	height: 26px;
}

/* Line height of the h4 text, compared to the widget header height, suggest how the text will be positioned */
.boxViewContainer .box .widgetHeader h4 {
	line-height: 28px;
}

.boxViewContainer .box .widgetHeader h4 {
	font-weight: bold;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	height: 26px;
	font-size: 12px;
}

/*
Deprecato:
.boxViewContainer .box .boxContent .widget .widgetHeader .widgetHeaderTools{
	margin-top: -26px;
	height: 26px;
}
.boxViewContainer .box .boxContent .widget .widgetHeader .widgetHeaderTools span {
	height: 26px;
}
	
.boxViewContainer .box .boxContent .widget .widgetHeader .widgetHeaderTools span a {
	height: 26px;
}
*/

/* Generic Content widget style */
.boxViewContainer .box .boxContent .widget {
	background-color: #ededed;
}
.boxViewContainer .box .boxContent .widget .widgetContent {
	font-size: 12px;
	line-height: 20px;
}
	
/* Theme custom Widget's icons */
/* Widget's icons */
.boxViewContainer .box .boxContent .widget .widgetHeader .widgetHeaderTools span {
	border-left: 1px solid #9d9d9d;
}
.boxViewContainer .box .widgetHeader .leftIcons li.collapse a.expanded {
	background: transparent url(images/widget/widget_icon_expanded.png) top left no-repeat;
	background-position: 8px 5px;
	background-repeat: no-repeat;
}
.boxViewContainer .box .widgetHeader .leftIcons li.collapse a.expanded:hover {
	background: transparent url(images/widget/widget_icon_expanded_ro.png) top left no-repeat;
	background-position: 8px 5px;
	background-repeat: no-repeat;
}	
.boxViewContainer .box .widgetHeader .leftIcons li.collapse a.collapsed {
	background: transparent url(images/widget/widget_icon_collapsed.png) top left no-repeat;
	background-position: 8px 5px;
	background-repeat: no-repeat;
}
.boxViewContainer .box .widgetHeader .leftIcons li.collapse a.collapsed:hover {
	background: transparent url(images/widget/widget_icon_collapsed_ro.png) top left no-repeat;
	background-position: 8px 5px;
	background-repeat: no-repeat;
}
.boxViewContainer .box .widgetHeader .rightIcons li.previous a {
	background: transparent url(images/widget/widget_icon_back.gif) top left no-repeat;
}
.boxViewContainer .box .widgetHeader .rightIcons li.next a {
	background: transparent url(images/widget/widget_icon_forward.gif) top left no-repeat;
}
.boxViewContainer .box .widgetHeader .rightIcons li.zoom a {
	background: transparent url(images/widget/widget_icon_zoom.gif) top left no-repeat;
}
.boxViewContainer .box .widgetHeader .rightIcons li.drag a {
	background: transparent url(images/widget/widget_icon_drag.gif) top left no-repeat;
}

/* Widgeted Index */
.boxViewContainer .box .boxContent .widget ul li {
	border-bottom: 1px solid #d3d3d3;
}
.boxViewContainer .box .boxContent .widget ul li a {
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 14px;
}
.boxViewContainer .box .boxContent .widget ul li a:hover {
	text-decoration: underline;
}
/* Icon used for this index item */
.boxViewContainer .box .boxContent .widget ul li img {
    height: 35px;
    border: 1px solid #d3d3d3;
}

	