/*

Css strutturale generico per tutte le applicazioni
Dovrebbe essere aggiornato in tutte le applicazioni e tenuto allineato
La customizzazione grafica viene fatta in fontscolors.css

*/

* { padding: 0px; margin: 0px; border: 0; font-family: sans-serif; font-size: 10pt;}

/*
******************************************
Tags definitions
******************************************
*/
html, body {
	border:0 none;
	height:100%;
	margin:0;
	padding:0;
	text-align:justify;
	width:100%;
}

a, a:active {
	outline: none;
}

a {
}
a:hover {
}

/*
******************************************
Page Sections
******************************************
*/
#pageExt {
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	text-align:left;
	top:0;
	width:100%;
}


/** DEBUG
#pageContent {
	position: absolute;
	margin: 0; padding: 0; border: 0;
	right: 0px;
	top: 102px;
	left: 217px;
	overflow: hidden;
}
*/


/*
******************************************
Header
******************************************
*/
#pageHeader {
	height: 101px;
	margin: 0 0 0;
	width: 100%;
}

    /** DEBUG: is this boxview specific? 
	#pageHeader h1 {
		display: block;
		width: 542px;
		height: 101px;
		margin: 0;
		padding: 0;
		text-indent: -9999px;
		position: absolute;
		left: 0;
	}
	
	#pageHeader p {
		display: none;
	}
	*/
	/*
	Header Preferences 
	Box in alto a destra nella testata
	che contiene le icone dei vari strumenti
	di settaggio delle preferenze
	*/
    /** DEBUG: is this boxview specific? 
	#pageHeader #header_preferences_wrapper {
		position: absolute;
		height: 33px; margin: 0; padding: 0 7px 0 0; 
		top: 35px;
		right: 20px;
	}
		#pageHeader #header_preferences_wrapper #header_preferences {
			height: 33px; margin: 0; padding: 0 0 0 7px; 
		}
		
			#pageHeader #header_preferences_wrapper #header_preferences ul {
				height: 33px; margin: 0; padding: 0; 
				overflow: hidden;
			}
			
				#pageHeader #header_preferences_wrapper #header_preferences ul li {
					height: 33px; margin: 0; padding: 9px 10px; 
					float: left;
					overflow: hidden;
				}
				#pageHeader #header_preferences_wrapper #header_preferences ul li.last {
					background: none;
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a {
					text-indent: -9999px;
					display: block;
					width: 16px;
					height: 16px;
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a:hover {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a#helpButton {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a#undoButton {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a#introButton {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a.inactive#undoButton {
				}
				
				#pageHeader #header_preferences_wrapper #header_preferences ul li a#prefButton {
				}
	/*			
				

/*
******************************************
Menu
******************************************
*/

/** DEBUG: is this boxview specific?? 
div#menu_container {
	width: 216px;
	margin: 0; padding: 0; border: 0;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
}

	div#menu_container ul {
		list-style-type: none;
	}
	div#menu_container h3 {
		margin: 0;
		width: 186px;
		padding: 0 20px 0 10px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
*/
	/* Primo livello */
    /** DEBUG: is this boxview specific? 
	div#menu_container ul li {
		width: 215px;
	}
		div#menu_container ul li a{
			margin: 0;
			padding: 7px 7px 7px 27px;
			display: block;
			font-size: 12px;
			overflow: hidden;
		}
		div#menu_container ul li a:hover {
		}
		*/
	/* Secondo livello */
    /** DEBUG: is this boxview specific? 
	div#menu_container ul li ul {
	}
	
	div#menu_container ul li ul li {
		border-bottom: 0;
		margin: 0;
	}
		div#menu_container ul li ul li a{
			margin: 0;
			padding: 7px 7px 7px 32px;
			font-size: 11px;
		}
				
	div#menu_container ul li.menu-item {
		
	}
	*/
	
	/* Input e label contesti */
    /** DEBUG: is this boxview specific? 
	div#menu_container ul li div.context{
		padding: 7px 7px 7px 10px;
	}
	div#menu_container ul li div.context input{
		padding: 7px 7px 7px 10px;
		font-size: 12px;
	}
	div#menu_container ul li div.context label{
		padding: 7px 7px 7px 10px;
		font-size: 12px;
	}
	div#menu_container ul li a#menu_update {
		font-size: 11px;
	}
	div#menu_container ul li a#menu_update:hover {
	}
    */
/*
******************************************
Load dialog
******************************************
*/
#loadingDialog {
	position: absolute;
	padding: 0 30px 0 60px;
	height: 33px;
	right: 276px;
	top: 35px;
	z-index: 10;
	line-height: 33px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#loadingDialog img {
	position: absolute;
	top: 8px;
	left:  30px;
}


/*
******************************************
BoxView and boxes
******************************************
*/
.boxViewContainer {
}
.boxViewContainer .box {
	border: 0;
	position: absolute;
	padding: 0;
	margin: 0;
}

.boxViewContainer .box .boxContent {
	overflow-y: auto;
	overflow-x: hidden;
}

/* Expanded BOX */
.boxViewContainer div.box.expanded div.boxHeader {
	position: relative;
	height: 30px;
	border-bottom: 1px solid #fff;
	overflow: hidden;
}

.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.boxTool {
	display: block;
}
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.boxTool:hover {
	cursor: pointer;
}

/* Icone Header Box*/
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.collapseTool{
	background: transparent url(images/boxes/box_bar_expanded.png) center left no-repeat;
	cursor: pointer;
}
.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.collapseTool{
	background: transparent url(images/boxes/box_bar_collapsed.png) center left no-repeat;
	cursor: pointer;
}
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.removeTool{
	background: transparent url(images/boxes/box_bar_close.png) center left no-repeat;
	cursor: pointer;
}
.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.removeTool{
	background: transparent url(images/boxes/box_bar_close.png) center left no-repeat;
	cursor: pointer;
}
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.collapseTool:hover{
	background: transparent url(images/boxes/box_bar_expanded_ro.png) center left no-repeat;
}
.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.collapseTool:hover{
	background: transparent url(images/boxes/box_bar_collapsed_ro.png) center left no-repeat;
}
.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.removeTool:hover{
	background: transparent url(images/boxes/box_bar_close_ro.png) center left no-repeat;
}
.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.removeTool:hover{
	background: transparent url(images/boxes/box_bar_close_ro.png) center left no-repeat;
}

/* Default */
.boxViewContainer div.box.expanded div.boxContent {
	padding: 0 0;
}

/** DEBUG: is this boxview specific? */


/* Intro */
.boxViewContainer div.box.intro div.boxHeader, .boxViewContainer div.box.intro.collapsed, .boxViewContainer div.box.collapsed.intro div.boxCollapsedContent {
}
.boxViewContainer div.box.expanded.intro div.boxContent {
	padding: 0 20px;
}

/* Edition */
.boxViewContainer div.box.edition div.boxHeader, .boxViewContainer div.box.edition.collapsed, .boxViewContainer div.box.collapsed.edition div.boxCollapsedContent {
}
.boxViewContainer div.box.expanded.edition div.boxContent {
	padding: 0 20px;
}

/* Archivio */
.boxViewContainer div.box.expanded.archivio div.boxContent {
	padding: 0 20px 20px 20px;
}

/* Crediti */
.boxViewContainer div.box.expanded.crediti div.boxContent {
	padding: 0 20px 20px 20px;
}

/* Aiuto */
.boxViewContainer div.box.expanded.aiuto div.boxContent {
	padding: 0 20px 20px 20px;
}

	.boxViewContainer div.box.expanded div.boxHeader h3.boxHeaderTitle {
		display: block;
		line-height: 30px;
		padding: 0 0 0 32px;
		margin-right: 25px;
		overflow: hidden;
	}
	.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools {
		position: absolute;
		width: 100%;
		height: 30px;
		top:0;
		left:0;
	}
	.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.collapseTool{
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		left: 7px;
		top: 7px;
		text-indent: -9999px;
	}
	.boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.removeTool{
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		right:7px;
		top: 7px;
		text-indent: -9999px;
	}

    /* Icona Bookmark in box expanded */
    .boxViewContainer div.box.expanded div.boxHeader div.boxHeaderTools p.bookmarkTool {
		position: absolute;
		display: block;
		width: 20px;
		height: 30px;
		right: 25px;
		top: 0px;
		text-indent: -9999px;
	}
	
	/* Icona Bookmark in box collapsed */
	.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.bookmarkTool {
		position: absolute;
		display: block;
		width: 20px;
		height: 30px;
		left: 4px;
		top: 45px;
		text-indent: -9999px;
	}
	
	/* Definizione delle icone per entrambe i casi */
	.boxViewContainer div.box div.boxHeader div.boxHeaderTools p.bookmarkTool.bookmark_button_mine {
        background: url(images/widget/widget_icon_notebook_active.png) center center no-repeat;
    }
	.boxViewContainer div.box div.boxHeader div.boxHeaderTools p.bookmarkTool.bookmark_button_none {
        background: url(images/widget/widget_icon_notebook_inactive.png) center center no-repeat;
    }
	.boxViewContainer div.box div.boxHeader div.boxHeaderTools p.bookmarkTool.bookmark_button_others {
        background: url(images/widget/widget_icon_notebook_active.png) center center no-repeat;
    }
	
	/*
	25/08/2010 bookmark dialog SIMONE: per qualche motivo lo style da jquery-ui viene sovrascritto 
    */
    div.newbm_form li.bm_new_nb_form, div.editbm_form li.bm_new_nb_form { display: none; }
    #bookmarkDialog button span { display: table-cell; margin-right: 5px; }
    
    


/* Loading BOX - Opacita' per box in fase di caricamento */ 
.boxViewContainer div.box.transcription.expanded.loadingContent div.boxContent, .boxViewContainer div.box.facsimile.expanded.loadingContent div.boxContent, .boxViewContainer div.box.index.expanded.loadingContent div.boxContent { 
}
	
	

/* Collapsed BOX */
.boxViewContainer div.box.collapsed {
	width: 30px;
}

.boxViewContainer div.box.collapsed div.boxHeader {
	position: relative;
	width: 30px;
	height: 50px;
	border-bottom: 0;
}

.boxViewContainer div.box.collapsed div.boxCollapsedContent {
	position: relative;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}


/* Testo del box header quando è collassato */
.boxViewContainer div.box.collapsed div.boxCollapsedContent .verticalContainer {
	display: block;
	white-space: nowrap;
	
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: absolute;
	overflow: hidden;
	bottom: 2px;
	left:7px;
}

.boxViewContainer div.box.collapsed div.boxCollapsedContent .dragOverlay {
    width: 30px; 
    z-index: 10000; 
    position: absolute; 
    left:0px;
}

.boxViewContainer div.box.collapsed div.boxCollapsedContent .boxDragHandle {
    text-indent: 10px;
}

	.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.collapseTool{
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		left: 7px;
		top: 7px;
		text-indent: -9999px;
	}
	.boxViewContainer div.box.collapsed div.boxHeader div.boxHeaderTools p.removeTool{
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		left: 7px;
		top: 30px;
		text-indent: -9999px;
	}
	.boxViewContainer div.box.collapsed div.boxHeader h3.boxHeaderTitle{
		display: none;
	}

/* Drag sotto IE */ 
div.boxDragHandle {
    cursor: move;
    border: 0;
    z-index: 1000;
}


/*
******************************************
Widget
******************************************
*/
.boxViewContainer div.box div.boxContent div.widget {
}
	
	/* Widget Header */
	.boxViewContainer div.box div.boxContent div.widget div.widgetHeader {
		height: 26px;
		border-bottom: 1px solid #FFF;	
	}
	
	.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools{
		margin-top: -26px;
		width: 100%;
		height: 26px;
		left:0;
	}
		.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p {
			float: right;
			display: block;
			width: 27px;
			height: 26px;
		}
		
		.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.collapse{
			float: left;
			border: 0;
		}
				
		.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p a {
			display: block;
			width: 27px;
			height: 26px;
			text-indent: -9999px;
		}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.collapse a.expanded {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.collapse a.collapsed {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.previous a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.next a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.zoom a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.drag a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.anastatica a {}
			.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.fenomeni a {}
    		.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools p.trascrizione a {}
		
	.boxViewContainer div.box div.boxContent div.widget div.widgetHeader h3 {
		display: block;
		line-height: 28px;
		height: 26px;
		font-size: 12px;
		padding-left: 30px;
		overflow: hidden;
	}


    /** DEBUG: not boxview-specific! */ 
	/*
	Fenomeni: Tendina con la lista dei fenomeni, si apre dall'icona presente nell widgetHeader
	*/
	div.fenomeni.hidden {
		display:none;
	}
		div.fenomeni {
			z-index: 10;
			margin-top: 30px;
			/* padding: 6px; */
		}
		div.fenomeni ul {
			margin: 0; padding: 0;
			list-style: none;
		}
		div.fenomeni ul li {
			margin: 0;
			padding: 6px;
			font-size: 12px;
			text-transform: uppercase;
		}
		div.fenomeni ul li a {
			font-size: 12px;
		}
			
			div.fenomeni ul li ul {
				margin: 0;
				padding: 3px;
				border: none;
				text-transform: none;
				font-weight: normal;
			}
			
			div.fenomeni ul li ul li {
				margin: 0; padding: 0;
				border: none;
				font-size: 11px;
				text-transform: none;
			}
			
			div.fenomeni ul li ul li a {
				font-size: 11px;
				text-transform: none;
				margin: 0;
				padding: 3px;
				display: block;
			}
			
		div.fenomeni a.selected {
			font-weight: bold;
		}


	/* Widget Content */
	.boxViewContainer div.box div.boxContent div.widget div.widgetContent.collapsed { display: none; }
	.boxViewContainer div.box div.boxContent div.widget div.widgetContent.expanded { display: block; }

	/* Formattazione generica widget content */
	.boxViewContainer div.box div.boxContent div.widget div.widgetContent {
		padding: 10px;
		font-size: 12px;
	}
	
	/* Formattazione generica tag P dentro al widget content */
	.boxViewContainer div.box div.boxContent div.widget div.widgetContent p{
		line-height: 20px;
		padding: 0 0 15px 0;
	}
	
	/* Formattazione generica tag IMG dentro al widget content */
	.boxViewContainer div.box div.boxContent div.widget div.widgetContent img{
	}
	
	/* Formattazione interna ai WIDGET CONTENT */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent {
		font-size: 12px;
		line-height: 20px;
	}
	.boxViewContainer div.box div.boxContent div.widgetContent div.widgetField {
        margin-bottom: 8px;
    }
    
    /* SIMONE: aggiunto per far andare a capo tutte e due le span dei fields della scheda immagine */ 
    .boxViewContainer div.box div.boxContent div.widgetContent div.widgetField span.field_title {
        display:block;
    }
	.boxViewContainer div.box div.boxContent div.widgetContent div.widgetField div.field_content.expanded {
	    display:block;
    }
	.boxViewContainer div.box div.boxContent div.widgetContent div.widgetField div.field_content.collapsed {
	    display:none;
    }

	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div, .boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent span {
		line-height: 20px;
	}
	
	/* Formattazione testi trascrizioni */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.tr_head,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.tr_head span,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent p.tr_head span,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent p.tr_head,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.tr_head a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.tr_head span a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent p.tr_head a,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent p.tr_head span a {
		font-size: 14px;
	}
	
	/* Nomi dialoganti */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.func_character
	{
		font-weight: bold;
		font-variant: small-caps;
	}
	
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.image-keyword {
		font-size: 14px;	
	}

	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.seg-title {
	}

	/* Titolo Opera */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent span.tr_title
	{
		font-style: italic;
	}
	
	/* SIMONE 06/01: link quotations_rewriting (riscritture), dentro le trascrizioni. Attivi (cliccabili) se il box e' highlight */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.highlight a.quotation_link {
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.highlight a.quotation_link:hover {
		cursor: default;
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.highlight.selected a.quotation_link {
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.highlight.selected a.quotation_link:hover {
		cursor: pointer;
	}

	
	/* SIMONE 20/12: aggiunto dopo l'introduzione di IMT nel frontend del doni */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.image-keyword.highlight,
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription span.image-keyword:hover {
	}
	
	/* Margini per le immagini dentro al testo delle trascrizioni */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.transcription img {
		margin: 10px 0;
	}
	
	.boxViewContainer div.box div.boxContent div.widgetContent div span.field_title {
		font-size: 12px;
		line-height: 20px;
		padding-left: 15px;
	}
	
	/* Icona expand collapse dei titoli INTERNI ai widget */
	.boxViewContainer div.box div.boxContent div.widgetContent div span.field_title.expanded {
		background-position: 0px 3px;
		background-repeat: no-repeat;
	}
	
	.boxViewContainer div.box div.boxContent div.widgetContent div span.field_title.collapsed {
		background-position: 0px 3px;
		background-repeat: no-repeat;
	}
	
	/* Icona expand collapse dei titoli INTERNI ai widget myDoni */
	.boxViewContainer div.box div.boxContent div.myDoniWidget div.widgetContent div span.field_title.expanded, .boxViewContainer div.box div.boxContent div.myDoni div.widgetContent div span.field_title.expanded {
		background-position: 0px 5px;
		background-repeat: no-repeat;
	}
	
	.boxViewContainer div.box div.boxContent div.myDoniWidget div.widgetContent div span.field_title.collapsed, .boxViewContainer div.box div.boxContent div.myDoni div.widgetContent div span.field_title.collapsed {
		background-position: 0px 5px;
		background-repeat: no-repeat;
	}
	
	/* Formattazione lista */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent ul {
		list-style: none;
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent ul li {
		background: transparent url(images/list/list_image.gif) center left no-repeat;
		padding-left: 12px;
	}
	
	/* Formattazione bibliografia */
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.image-bibliography {
	}
	.boxViewContainer div.box div.boxContent div.widget.textWidget div.widgetContent div.image-bibliography span.bibl_title{
	}
	
/* Widget */
div.box.collapsed div.boxCollapsedHeader, 
div.box.collapsed div.boxCollapsedContent,
div.box.expanded div.boxContent,
div.box.expanded span.boxHeaderTitle {
	display: block;
}

div.box.expanded div.boxCollapsedHeader, 
div.box.expanded div.boxCollapsedContent,
div.box.collapsed div.boxContent,
div.box.collapsed h3.boxHeaderTitle {
	display: none;
}



/*
******************************************
Risultati di ricerca - Index box
******************************************
*/
div.box.index div.boxContent {
	width: 100%;
	position: absolute;
}
	div.box.index div.boxContent ul {
		list-style-type: none;
		margin: 0 0 0 0;
	}
	div.box.index div.boxContent ul li{
	}
	
	div.box.index div.boxContent ul li div.box_index_node {
		position: relative;
	}
	
	div.box.index div.boxContent ul li div.box_index_node h3{
		height: 28px;
		display: block;
		line-height: 28px;
		font-size: 12px;
		border-bottom: 1px solid #fff;
		padding-left: 35px;
		overflow: hidden;
		z-index: 1000;
	}
	
	div.box.index div.boxContent ul li div.box_index_node h3 a{
		font-size: 12px;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools {
		position: absolute;
		width: 100%;
		height: 28px;
		top:0;
		left:0;
		z-index: 0;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.vista{
		display: none;
	}
	
	/* Swithcer tra vista Tree/List */
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools.list p.vista, div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools.tree p.vista {
		display: block;
		text-indent: -9999px;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools.list p.vista a{
		display: block;
		width: 28px;
		height: 28px;
		text-indent: -9999px;
	}

	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools.tree p.vista a{
		display: block;
		width: 28px;
		height: 28px;
		text-indent: -9999px;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p {
		float: right;
		display: block;
		width: 27px;
		height: 28px;
		z-index: 0;
	}
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.collapse{
		float: left;
		border: 0;
	}
	
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.collapse {
		position: absolute;
		left: 15px; top: 6px;
		width: 15px;
		height: 15px;
	}
	div.box.index div.boxContent ul li div.box_index_node div.boxIndexNodeTools p.collapse a{
		display: block;
		width: 15px;
		height: 15px;
		text-indent: -9999px;
		z-index: 0;
	}
	
		/* Secondo livello */
		div.box.index div.boxContent ul li ul li div.box_index_node h3{
			font-size: 12px;
			padding-left: 45px;
		}
		div.box.index div.boxContent ul li ul li div.box_index_node h3 a { 
			font-size: 12px;
		}
		
		div.box.index div.boxContent ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse {
			left: 25px;
		}
		div.box.index div.boxContent ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse a.collapsed {
		}
		div.box.index div.boxContent ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse a.expanded {
		}	
			
			/* Terzo livello */
			div.box.index div.boxContent ul li ul li ul li div.box_index_node h3{
				font-size: 11px;
				padding-left: 55px;
			}
			div.box.index div.boxContent ul li ul li ul li div.box_index_node h3 a {
				font-size: 11px;
			}
			
			div.box.index div.boxContent ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse {
				left: 35px;
			}
			div.box.index div.boxContent ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse a.collapsed {
			}
			div.box.index div.boxContent ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse a.expanded {
			}
			
		
				/* Quarto livello */
				div.box.index div.boxContent ul li ul li ul li ul li div.box_index_node h3{ padding-left: 65px;}
				div.box.index div.boxContent ul li ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse { left: 45px;}
				/* Quinto livello */
				div.box.index div.boxContent ul li ul li ul li ul li ul li div.box_index_node h3{ padding-left: 75px;}
				div.box.index div.boxContent ul li ul li ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse { left: 55px;}
				/* Sesto livello */
				div.box.index div.boxContent ul li ul li ul li ul li ul li ul li div.box_index_node h3{ padding-left: 85px;}
				div.box.index div.boxContent ul li ul li ul li ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse { left: 65px;}
				/* Settimo livello */
				div.box.index div.boxContent ul li ul li ul li ul li ul li ul li ul li div.box_index_node h3{ padding-left: 95px;}
				div.box.index div.boxContent ul li ul li ul li ul li ul li ul li ul li div.box_index_node div.boxIndexNodeTools p.collapse { left: 75px;}
	
	
	
	/* Foglie ! */
	div.box div.boxContent div.box_index_leaf {
		padding: 10px 15px;
	}
		div.box div.boxContent div.box_index_leaf h4 {
			font-size: 14px;
			margin-bottom: 3px;
		}
		div.box div.boxContent div.box_index_leaf h4 a {
		}
		div.box div.boxContent div.box_index_leaf h4 a:hover {
		}
		div.box div.boxContent div.box_index_leaf p {
			font-size: 11px;
		}
		
		/* SIMONE 03/01: thumbnails negli indici .... sistemare! */
		div.box div.boxContent div.indexThumb {
			padding: 5px;
			float: left;
			position: relative;
			width: 70px;
			text-align: center;
			clear:both;
		}
		div.box div.boxContent div.indexThumb img {
			height: 40px;
		}
		div.box div.boxContent ul li div.indexThumb { padding-left: 15px; }
		div.box div.boxContent ul li  ul li div.indexThumb { padding-left: 25px; }
		div.box div.boxContent ul li  ul li  ul li div.indexThumb { padding-left: 35px; }
		div.box div.boxContent ul li  ul li  ul li  ul li div.indexThumb { padding-left: 45px; }
		div.box div.boxContent ul li  ul li  ul li  ul li  ul li div.indexThumb { padding-left: 55px; }
		
		
	/* Indentazione in base al livello */
	div.box div.boxContent ul li div.box_index_leaf { padding-left: 15px; }
	div.box div.boxContent ul li  ul li div.box_index_leaf { padding-left: 25px; }
	div.box div.boxContent ul li  ul li  ul li div.box_index_leaf { padding-left: 35px; }
	div.box div.boxContent ul li  ul li  ul li  ul li div.box_index_leaf { padding-left: 45px; }
	div.box div.boxContent ul li  ul li  ul li  ul li  ul li div.box_index_leaf { padding-left: 55px; }


	
/*  Questo e' nella div.box div.boxContent div.widgetContent. Viene aggiunta la classe
    selected alle span.highlight
 */
span.highlight.selected {}


/*
*************************************************************************
Introduzione, Archivio, Aiuto, Crediti, Edizione
*************************************************************************
*/
div.intro img#doni {
	float: left;
	margin: 15px 15px 15px 0;
}


div.intro h4, div.archivio h4, div.aiuto h4, div.crediti h4 {
	font-size: 24px;
	line-height: 20px;
	margin: 15px 0 10px 0;
	padding: 0;
}

div.intro h4 .smallcaps, div.archivio h4 .smallcaps, div.aiuto h4 .smallcaps, div.crediti h4 .smallcaps{
	font-size: 32px;
	display: block;
	margin: 3px 0 10px 0;
	line-height: 32px;
}


div.intro h5, div.archivio h5, div.aiuto h5, div.crediti h5 {
	font-size: 22px;
	line-height: 22px;
	margin: 0 0 10px 0;
	padding: 0;
}

div.intro h6.top_subtitile, div.archivio h6.top_subtitile, div.aiuto h6.top_subtitile, div.crediti h6.top_subtitile {
	font-weight: normal;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 21px;
}

div.intro h6.top_subtitile strong, div.archivio h6.top_subtitile strong, div.aiuto h6.top_subtitile strong, div.crediti h6.top_subtitile strong {
	font-size: 18px;
}

div.intro h6, div.aiuto h6, div.archivio h6, div.crediti h6 {
	margin-bottom: 10px;
}

/* Menu interno per la navigazione in Archivio, Aiuto, Crediti */
div.intro ul.internal_navigation {
	list-style: none;
	display: block;
	overflow: hidden;
	margin: 10px 0;
	padding: 13px 0 10px 0;
}

	div.intro ul.internal_navigation li {
		margin: 0;
		padding: 0;
		display: inline;
		font-size: 16px;
		font-weight: 500;
	}
	
	div.intro ul.internal_navigation li a.static_resource {
		margin: 0;
		padding: 0;
		font-size: 16px;
		font-weight: 500;
	}
	
	div.intro ul.internal_navigation li a.static_resource:hover {
		text-decoration: none;
	}


div.intro p, div.archivio p, div.aiuto p, div.crediti p, div.intro p em, div.archivio p em, div.aiuto p em, div.crediti p em, div.intro p strong, div.archivio p strong, div.aiuto p strong, div.crediti p strong {
	font-size: 13px;
	line-height: 22px;
}

div.intro p.small, div.archivio p.small, div.aiuto p.small, div.crediti p.small, div.intro p.small em, div.archivio p.small em, div.aiuto p.small em, div.crediti p.small em, div.intro p.small a, div.archivio p.small a, div.aiuto p.small a, div.crediti p.small a {
	font-size: 11px;
	line-height: 19px;
}

div.intro p b, div.archivio p strong, div.aiuto p em, div.crediti p i{
	/* font-size: 14px; */
}

div.intro ul.home_list, div.crediti ul.home_list, div.archivio ul.home_list {
	list-style: none;
	list-style-position: inside;
	margin: 10px 0;
	line-height: 30px;
}

	div.intro ul.home_list li, div.crediti ul.home_list li, div.archivio ul.home_list li {
		font-size: 12px;
		margin-bottom: 8px;
		line-height: 18px;
	}
	
	div.intro ul.home_list li span, div.crediti ul.home_list li span, div.archivio ul.home_list li span {
		font-size: 12px;
		font-style: italic;
		display: block;
		margin: 0; padding: 0;
	}

div.aiuto ul.numbered_list {
	list-style: decimal;
	list-style-position: inside;
}

	div.aiuto ul.numbered_list li {
		font-size: 13px;
		line-height: 20px;
	}
	
	
	
/* Edizione */
.boxViewContainer div.box.expanded.edition div.boxContent ul.edition {
	margin-top: 15px;
	list-style: none;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.boxViewContainer div.box.expanded.edition div.boxContent ul.edition:last-child {
	border-bottom: 0;
}

.boxViewContainer div.box.expanded.edition div.boxContent ul.edition li {
	margin-bottom: 8px;
	font-size: 12px;
	line-height: 16px;
}

.boxViewContainer div.box.expanded.edition div.boxContent ul.edition li.author {
	font-family: "adobe-garamond-pro-1","adobe-garamond-pro-2","Georgia";
	font-size: 17px;
}
.boxViewContainer div.box.expanded.edition div.boxContent ul.edition li.title, .boxViewContainer div.box.expanded.edition div.boxContent ul.edition li.title em {
	font-size: 15px;
	line-height: 19px;
}
.boxViewContainer div.box.expanded.edition div.boxContent ul.edition li.long_desc p, .boxViewContainer div.box.expanded.edition div.boxContent ul.edition li.long_desc p em{
	font-size: 11px;
	line-height: 16px;
}


/*
******************************************
MyDony & Notebooks
******************************************
*/
/*
Box: MyDoni
Widget: Login
Form di login in box MyDoni
*/
div#myDoniLoginBox label
{
	float: left;
	font-size: 12px;
	width: 80px;
	padding: 3px 0 0 0;
	margin: 0 0 10px 0;
}

div#myDoniLoginBox input, div#myDoniLoginBox textarea
{
	width: 180px;
	padding: 3px;
	margin: 0 0 10px 0;
	font-size: 11px;
}

div#myDoniLoginBox button
{
	margin: 0 0 5px 80px;
	font-size: 11px;
	text-transform: uppercase;
	padding: 4px 3px 2px 3px;
	cursor: pointer;
}

div#myDoniLoginBox br
{
	clear: left;
}

div#myDoniLoginBox p
{
	margin: 0 0 2px 0px;
	padding: 0;
}

div#myDoniLoginBox p a
{
	font-size: 10px;
	text-decoration: underline;
}

/*
Box: MyDoni
Widget: I Miei Notebbook, Notebook Preferiti
Elementi del BOX MyDoni
*/
/* Tag P */
.boxViewContainer div.box div.boxContent div.myDoniWidget div.widgetContent p
{
	padding:0 0 8px 0;
}

/* Logout Button */
div.myDoniWidget .logout
{
	margin: 0px 0 0 0;
	font-size: 12px;
	background: transparent;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
div.myDoniWidget .logout:hover 
{
	text-decoration: underline;
}


div.myDoniWidget input.my_doni_notebook_title
{
	width: 250px;
	padding: 3px;
	margin: 10px 0 10px 0;
	font-size: 11px;
}

.boxViewContainer div.box div.boxContent div.widget div.widgetContent p.createNotebook
{
	margin: 23px 0 8px 0;
	padding: 0;
}

.boxViewContainer div.box div.boxContent div.widget div.widgetContent p.addNotebook
{
	margin: 10px 0 0px 0;
	font-size: 12px;
	padding: 0;
}

div.myDoniWidget p.createNotebook a, div.myDoniWidget p.createNotebook a:hover
{
	font-size: 12px;
	background: transparent;
	font-weight: bold;
	text-transform: uppercase;
}

/* Elenco dei notebook in box myDoni > I miei preferiti*/
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList span.notebook_title, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList span.notebook_title /* Titolo sensibile per collapse/expand */
{
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 8px;
}


/* Nota */
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_note, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_note
{
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 5px;
}

/* Autore */
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_author, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_author
{
	font-size: 11px;
	font-style: italic;
	margin-bottom: 5px;
}
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_author span, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_author span
{
	font-size: 11px;
	font-style: italic;
}

/* Info notebook */
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_info, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_info
{
	font-size: 11px;
	margin-bottom: 5px;
}
div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_info span, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_info span
{
	font-size: 11px;
}

div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_links, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_links
{
	margin-bottom: 5px;
}

div.box.myDoni div.boxContent div.myDoniWidget div.myNotebooksList div.notebook_links a, div.box.myDoni div.boxContent div.myDoniWidget div.myFavouritesNotebooksList div.notebook_links a
{
	font-size: 11px;
}


/*
Box: Specifico notebook
Widget: Note presenti nel notebook
Box contenente il notebook selezionato (es."Mio Notebook")
*/

div.box.myDoniNotebook div.boxContent div.note_author
{
	font-size: 11px;
	margin-bottom: 5px;
	font-style: italic;
}

div.box.myDoniNotebook div.boxContent div.note_author span
{
	font-size: 11px;
	font-style: italic;
}

div.box.myDoniNotebook div.boxContent div.note_text
{
	font-size: 12px;
	line-height:16px;
}

/* Info notebook */
div.box.myDoniNotebook div.boxContent div.notebook_info
{
	font-size: 11px;
	margin-bottom: 5px;
}
div.box.myDoniNotebook div.boxContent div.notebook_info span
{
	font-size: 11px;
}


/* Singolo div per ogni ntebook */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.single_notebook
{
    margin-bottom: 8px;
    padding-bottom: 8px;
}

/* Titolo con icona collapse expand */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent span.notebook_title
{
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 5px;
	line-height: 20px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position:0 0;
}
/* Data */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_date
{
	margin-top: 5px;
	margin-bottom: 2px;
	font-style: italic;
	font-size: 10px;
	font-weight: normal;
}
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_date span
{
	font-size: 10px;
}
/* Testo Nota */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_text
{
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 5px;
}
/* Links nota */
div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_links, div.box.myDoniNotebook div.boxContent div.widget div.widgetContent div.note_links a
{
	font-size: 11px;
}



/*
Box: Di contenuto qualsiasi (Trascrizione, Illustrazione, Anastatica ...)
Widget: I Miei Notebook, Notebook Preferiti
*/
div.box div.boxContent div.widget.myDoni div.widgetContent span.notebook_title
{
	font-weight: bold;
	font-size: 13px;
}
div.box div.boxContent div.widget.myDoni div.widgetContent div.note_date
{
	margin-bottom: 3px;
	font-style: italic;
	font-size: 10px;
	font-weight: normal;
}
div.box div.boxContent div.widget.myDoni div.widgetContent div.note_date span
{
	font-size: 10px;
}

div.box div.boxContent div.widget.myDoni div.widgetContent div.note_text
{
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
}

div.box div.boxContent div.widget.myDoni div.widgetContent div.note_links, div.box div.boxContent div.widget.myDoni div.widgetContent div.note_links a
{
	font-size: 11px;
}

div.box div.boxContent div.widget.myDoni div.widgetContent div.single_note
{
	margin-top: 8px;
	margin-bottom: 8px;
	padding-bottom: 8px;
}

div.box div.boxContent div.widget.myDoni div.widgetContent p.createNote a
{
	display: block;
	margin: 20px 0 0px 0;
	font-size: 12px;
	background: transparent;
	font-weight: bold;
	text-transform: uppercase;
}




/*
******************************************
POP UP
UI JQUERY
******************************************
*/
div.ui-dialog h3
{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 8px;
}

/* Url Copy Dialog */
div.ui-dialog #urlCopyDialog p input
{
	font-size: 10px;
}

div.ui-dialog #urlCopyDialog p input#url_to_copy
{
	font-size: 12px;
	margin: 5px 0;
}

div.ui-dialog #messageDialog
{
	margin: 10px 0 0 0;
}

div.ui-dialog .ui-dialog-buttonpane
{
	border: 0;
}

div.ui-dialog ul.form
{
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	clear: both;
	overflow: hidden;
}

div.ui-dialog ul.form li
{
	padding: 0;
	margin: 0 0 8px 0;
	font-size: 11px;
	clear: both;
	overflow: hidden;
}

/*
#bookmarkDialog .validation_error, 
#notebookDialog .validation_error,
#signupDialog .validation_error { border: 2px solid #fc0; background: red; padding: 5px; }
*/  
    
div.ui-dialog ul.form li.validation_error
{
}

div.ui-dialog ul.form li span
{
	font-size: 11px;
}

div.ui-dialog ul.form li.type
{
}
div.ui-dialog ul.form li.type span
{
}

div.ui-dialog ul.form li.date
{
	font-style: italic;
	font-size: 10px;
	font-weight: normal;
}

div.ui-dialog ul.form li.date span
{
}

div.ui-dialog ul.form li label
{
	margin: 0 8px 0 0;
	float: left;
	width: 150px;
}

div.ui-dialog ul.form li.validation_error label
{
}

div.ui-dialog ul.form li input
{
	padding: 3px;
	font-size: 11px;
}

div.ui-dialog ul.form li.validation_error input
{
}

div.ui-dialog ul.form li select
{
	padding: 3px;
	font-size: 12px;
	outline: none;
}

div.ui-dialog ul.form li textarea
{
	padding: 3px;
	font-size: 11px;
	height: 120px;
}

/* Pulsanti */
div.ui-dialog ul.buttons
{
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
	clear: both;
	overflow: hidden;
}

div.ui-dialog ul.buttons li
{
	float: left;
	margin: 0 8px 0 0;
	padding: 0;
}

div.ui-dialog ul.buttons li button, div.ui-dialog ul.form li button, div.ui-dialog .ui-dialog-buttonset button
{
	margin: 0;
	font-size: 11px;
	text-transform: uppercase;
	padding: 0;
	cursor: pointer;
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

div.ui-dialog .ui-dialog-buttonset button span.ui-button-text
{
	font-size: 11px;
}

div.ui-dialog ul.buttons li a
{
	margin: 0;
	font-size: 11px;
	text-transform: uppercase;
	padding:3px 4px 0 4px;
	cursor: pointer;
	display: block;
	height: 21px;
	line-height: 21px;
	text-align: center;
}
div.ui-dialog ul.buttons li a:hover
{
	text-decoration: none;
}

/* Pulsante default della dialog */
div.ui-dialog button.ui-button
{
	
}

/* Errori */
div.ui-dialog div.signup_errors
{
}




/*
Fine
*/