<div class ="properties_list">
  <ul>
    <% for attribute, value in @source.attributes %>
      <%= render(:partial => 'property_item', :object => attribute, :locals => { :values => [value] }) %>
    <% end %>
    <% for predicate in @source.direct_predicates %>
      <% values = @source[predicate] %>
      <% values = [values] unless values.respond_to? :each %>
      <%= render(:partial => 'property_item', :object => predicate.to_name_s, :locals => { :values => values }) %>
    <% end %>
    <% for predicate in @source.inverse_predicates %>
      <% values = @source.inverse[predicate] %>
      <% values = [values] unless values.respond_to? :each %>
      <%= render(:partial => 'property_item', :object => "#{predicate.to_name_s} (inverse)", :locals => { :values => values }) %>
    <% end %>
  </ul>
</div>
