<%= boxview_widget 'Informazioni tecniche', {:class => 'TextWidget widget_draggable'} do |w|
  # Anastatica Stampa
  if @resource.anastatica
    w.right_icons boxview_link_for_object(@resource.anastatica, {:title => "Fac-simile stampa #{@resource.anastatica.page_position}"}), {:class => 'anastatica'}
  end

  # Trascrizione Critica
  unless @handwritten.blank?
    w.right_icons boxview_link_for_object(@handwritten.first, {:title => "Trascrizione critica manoscritto #{@resource.anastatica.page_position}"}), {:class => 'critical_manuscript'}
  end

  unless @letter.data_records.blank?
    w.right_icons link_to("Trascrizione critica e apparato", url_for_data_record(@letter.data_records.first), {:title => "Trascrizione critica e apparato"}), :class => 'pdf'
  end

  if @resource.previous_card
    w.right_icons boxview_link_for_object(@resource.previous_card), :class => 'prev'
  end

  if @resource.next_card
    w.right_icons boxview_link_for_object(@resource.next_card), :class => 'next'
  end

   w.content render :partial => '/boxview/shared/widget_field_bibliography', :locals => {:items => @resource.bibliography_items.to_a, :title => 'Edizione di riferimento'} unless @resource.bibliography_items.empty?


  w.content boxview_widget_field('Numero della lettera', @letter.letter_number) unless @letter.name.blank?
  w.content boxview_widget_field("Collocazione dell'esemplare a stampa", @letter.printed_collocation)

  begin
    page_position = @resource.anastatica.page_position
    w.content boxview_widget_field('Numero della pagina', page_position) unless page_position.blank?
  rescue; end
end
%>

<%= render :partial => '/boxview/shared/widget_trascrizione_fenomeni_note', 
		:locals => {:resource => @resource, :fenomeni => @fenomeni, :notes => @notes, :content => @content,
			 		:widget_title => "Trascrizione", :show_anastatica => false} 
%>
