/* Definizione tag generici */
body
{
	background: #ebebeb url(img/header_bg.jpg) top left repeat-x;
}

/* Header */
#pageHeader h1 {
	font-family: 'OFL Sorts Mill Goudy TT', Georgia, 'Times New Roman', Times, serif;
	color: #fff;
	font-weight: 100;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

#pageHeader p {
	font-family: 'OFL Sorts Mill Goudy TT', Georgia, 'Times New Roman', Times, serif;
	color: #7b6b56;
	font-weight: 500;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
}