<%= boxview_widget 'Navigation', :class => "menu widget_draggable" do |w|
  w.content %[
    <ul>
      <li class="menu_firstlevel leaf">#{boxview_link_for_object(@temp, :title  => 'TEST ILLUSTRATION CARD 1311')}</li>
    </ul>
    <ul>
      <li class="menu_firstlevel leaf">#{boxview_link_for_object(@temp2, :title  => 'TEST ILLUSTRATION CARD 1297')}</li>
    </ul>
  ]
end
%>
