<%= 
boxview_widget 'Navigation', :class => "index widget_draggable" do |w|
  w.content "<ul><li>"
  m = @models[:schede_carro].tableize
  w.content boxview_link("/boxview/indici/#{@collection}/#{m}", I18n.t("#{m}.menu_item_name"), "Indice "+I18n.t("#{m}.menu_item_name"), "index_#{m}", :index)
  w.content "</li></ul>"
end
%>
