<%= 
boxview_widget 'Navigation', :class => "menu widget_draggable" do |w|
  w.content "<ul>"

  #carte aka Anastatiche

  w.content "<li class='menu_firstlevel leaf'>"

  m = @models[:carte]
  w.content boxview_link("/boxview/indici/#{@collection_id}/#{m}",  I18n.t("#{m}.menu_item_name"), "Indice "+I18n.t("#{m}.menu_item_name"), "index_#{m}", :index)
  w.content "</li>"


  #ordine di sfilata aka cortei aka FiProcession

  w.content "<li class='menu_firstlevel leaf'>"
  m = @models[:cortei]
  w.content boxview_link("/boxview/indici/#{@parade.id}/#{m}", I18n.t("#{m}.menu_item_name"), "Indice "+I18n.t("#{m}.menu_item_name"), "index_#{m}", :index)
  w.content "</li>"


  #personaggi

#  w.content "<li class='menu_firstlevel leaf'>"
#  m = @models[:personaggi]
#  w.content boxview_link("/boxview/indici/#{@parade.id}/#{m}", I18n.t("#{m}.menu_item_name"), "Indice "+I18n.t("#{m}.menu_item_name"), "index_#{m}#", :index)
#  w.content "</li>"
  
  # Per qualità
  w.content "<li class='menu_firstlevel'><a href='#' onclick='return false' class='menu collapsed'>#{I18n.t('fi_character_qualities')}</a><ul>"
  w.content "<li class='menu_secondlevel leaf'>"
  [:qualities_age, :qualities_gender, :qualities_profession, :qualities_ethnic_group].each do |quality|
    w.content boxview_link("/boxview/indici/fi_character_quality_values?quality=#{quality}",
                           "#{I18n.t quality}",
                           "#{I18n.t quality}",
                           "fi_character_quality_#{URI.escape quality.to_s}",
                           :index)
  end

  # Per attributi
  w.content "<li class='menu_firstlevel'><a href='#' onclick='return false' class='menu collapsed'>#{I18n.t('fi_attributes')}</a><ul>"
  w.content "<li class='menu_secondlevel leaf'>"
  @search.facets.first.rows.each do |facet|
    value = facet.value.to_s
    # work.count should return the incidence count for this work.
    w.content render :partial => '/boxview/shared/index_item', 
                     :locals => {:title => boxview_link("/boxview/indici/fi_cards_by_image_component?component=#{value}",
                                                        value, value,
                                                        "fi_cards_by_image_component_#{URI.escape value}",
                                                        :index),
                                 :description => ""}
  end
  w.content "</li>"
  w.content "</ul></li>"

  # Iconclass
  m = @models[:iconclass]
  w.content "<li class='menu_firstlevel leaf'>"
    w.content boxview_link("/boxview/indici/show_grouped_iconclass", I18n.t("#{m.tableize}.menu_item_name"), "Indice "+I18n.t("#{m.tableize}.menu_item_name"), "index_#{m.tableize}", :index)
  w.content "</li>"

  # Fonti
  w.content "<li class='menu_firstlevel leaf'>"
    w.content boxview_link("/boxview/indici/fi_bibliographies",
                           I18n.t("fi_bibliographies"),
                           "Indice "+I18n.t("fi_bibliographies"),
                           "index_fi_bibliographies",
                           :index)
  w.content "</li>"

  w.content "</ul>"
end
%>
