<%= 
boxview_widget 'Navigation', :class => "menu widget_draggable" do |w|
  w.content "<ul>"

  #carte aka Anastatiche

  w.content "<li class='menu_firstlevel leaf'>"

  m = @models[:carte]
  w.content boxview_link("/boxview/indici/#{@collection_id}/#{m}",  I18n.t("#{m}.menu_item_name"), "Indice "+I18n.t("#{m}.menu_item_name"), "index_#{m}", :index)
  w.content "</li>"


  #ordine di sfilata aka cortei aka FiProcession

  w.content "<li class='menu_firstlevel leaf'>"
  m = @models[:cortei]
  w.content boxview_link("/boxview/indici/#{@parade.id}/#{m}", I18n.t("#{m}.menu_item_name"), "Indice "+I18n.t("#{m}.menu_item_name"), "index_#{m}", :index)
  w.content "</li>"


  #personaggi

#  w.content "<li class='menu_firstlevel leaf'>"
#  m = @models[:personaggi]
#  w.content boxview_link("/boxview/indici/#{@parade.id}/#{m}", I18n.t("#{m}.menu_item_name"), "Indice "+I18n.t("#{m}.menu_item_name"), "index_#{m}#", :index)
#  w.content "</li>"
  
  # # Per attributi
  # w.content "<li class='menu_firstlevel'><a href='#' onclick='return false' class='menu collapsed'>#{I18n.t('fi_cards_by_character_quality')}</a><ul>"
  # w.content "<li class='menu_secondlevel leaf'>"
  #   w.content boxview_link("/boxview/indici/fi_attributes_category?category=quality",
  #                          category,
  #                          "Indice delle #{category}",
  #                          "vt_index_work_#{URI.escape category}",
  #                          :index)
  # w.content "</li>"
  # w.content "</ul></li>"




  # Iconclass
  m = @models[:iconclass]
  w.content "<li class='menu_firstlevel leaf'>"
    w.content boxview_link("/boxview/indici/show_grouped_iconclass", I18n.t("#{m.tableize}.menu_item_name"), "Indice "+I18n.t("#{m.tableize}.menu_item_name"), "index_#{m.tableize}", :index)
  w.content "</li>"



#  #carri
#  w.content "<li>"
#  m = @models[:schede_carro].tableize
#  w.content boxview_link("/boxview/indici/#{@collection_id}/#{m}", I18n.t("#{m}.menu_item_name"), "Indice "+I18n.t("#{m}.menu_item_name"), "index_#{m}", :index)
#  w.content "</li>"


  w.content "</ul>"
end
%>
