<%= boxview_widget 'Indice', :class => "index widget_draggable" do |w|
  w.content "<ul>"
  @groups.each do |i|
    
    unless (items = IconclassTerm.items_for(i)).empty? 
      
      w.content "<li class='menu_firstlevel'><a href='#' onclick='return false' class='menu collapsed'>#{i.to_s}</a>"
      
      w.content "<ul>"
      
      items.each do |el|      
        
        w.content render :partial => '/boxview/shared/index_item', 
        :locals => {:title => boxview_link("/boxview/indici/filtered_iconclass/#{@collection.id}/#{el.id}", "#{el.pref_label}", "#{el.pref_label}", "index_#{el.pref_label}", :index)}
        
      end
      
      w.content "</ul>"
      w.content"</li>"
    end
    
  end
  w.content "</ul>"
  
end
%>
