<%= boxview_widget 'Navigation', :class => "menu widget_draggable" do |w|
  w.content "<ul>"

################
# TEST RICERCA #
################

  w.content %[
    <li>
      Cerca tra le lettere: <input id="vt_menu_search" type="text" value="" style="border: 1px solid black;"/>
      <script>
        $("#vt_menu_search").focus();
        $("#vt_menu_search").live('keyup', function(e) {
          key = e.keyCode; value = $.trim($(this).val());
          e.preventDefault(); 
          if(key == 13 && value != "") {
            myBoxView.addBoxFromAjax({
              qstring: '/boxview/vt_search?q='+encodeURIComponent(value),
              title: 'Risultati ricerca di "'+value+'"',
              verticalTitle: 'Risultati ricerca di "'+value+'"',
              resId: 'vt_search'+value.replace(' ', '_'),
              type: 'index',
              collapsed: false
            });
          }
          return false;
        });
      </script>
    </li>
  ]

  # per data
  m = @models[:letter]
  w.content "<li class='menu_firstlevel leaf'>"
  w.content boxview_link("/boxview/indici/vt_letters_by_date",
            I18n.t("vt_letters.index_by_date_item_name"),
            "Indice "+I18n.t("vt_letters.index_by_date_item_name"),
            "index_#{m.tableize}",
            :index)
  w.content "</li>"

  # per "facet" di nomi
  m = @models[:letter]
  w.content "<li class='menu_firstlevel'><a href='#' onclick='return false' class='menu collapsed'>#{I18n.t('vt_letters.index_by_name_item_name')}</a><ul>"
  ['Divinità', 'Luogo', 'Persona', 'Personaggio'].each do |category|
    w.content "<li class='menu_secondlevel leaf'>"
    w.content boxview_link("/boxview/indici/vt_names_category?category=#{category}",
                           category,
                           "Indice dei nomi di #{category}",
                           "index_nomi_#{URI.escape category}",
                           :index)
    w.content "</li>"
  end
  w.content "</ul></li>"

  # per "facet" di opere
  m = @models[:letter]
  w.content "<li class='menu_firstlevel'><a href='#' onclick='return false' class='menu collapsed'>#{I18n.t('vt_letters.index_by_work_item_name')}</a><ul>"
  ['Opera D\'Arte', 'Opera Letteraria'].each do |category|
    w.content "<li class='menu_secondlevel leaf'>"
    w.content boxview_link("/boxview/indici/vt_works_category?category=#{category}",
                           category,
                           "Indice delle #{category}",
                           "index_work_#{URI.escape category}",
                           :index)
    w.content "</li>"
  end
  w.content "</ul></li>"



  # per "lessico artistico"
  m = @models[:letter]
  ['Lessico artistico'].each do |glossary|
    w.content "<li class='menu_firstlevel leaf'>"
    w.content boxview_link("/boxview/indici/vt_glossary_term?glossary=#{glossary}",
                           glossary,
                           "Indice delle #{glossary}",
                           "index_glossary_#{URI.escape glossary}",
                           :index)
    w.content "</li>"
  end





end
%>

