<%= boxview_widget 'Navigation', :class => "menu widget_draggable" do |w|
  w.content "<ul>"

  # per data
  m = @models[:letter]
  w.content "<li class='menu_firstlevel leaf'>"
  w.content boxview_link("/boxview/indici/vt_letters_by_date",
            I18n.t("vt_letters.index_by_date_item_name"),
            "Indice "+I18n.t("vt_letters.index_by_date_item_name"),
            "index_#{m.tableize}",
            :index)
  w.content "</li>"

  # per "facet" di nomi
  m = @models[:letter]
  w.content "<li class='menu_firstlevel'><a href='#' onclick='return false' class='menu collapsed'>#{I18n.t('vt_letters.index_by_name_item_name')}</a><ul>"
  ['Divinità', 'Luogo', 'Persona', 'Personaggio'].each do |category|
    w.content "<li class='menu_secondlevel leaf'>"
    w.content boxview_link("/boxview/indici/vt_names_category?category=#{category}",
                           category,
                           "Indice dei nomi di #{category}",
                           "vt_index_names_#{URI.escape category}",
                           :index)
    w.content "</li>"
  end
  w.content "</ul></li>"

  # per "facet" di opere
  m = @models[:letter]
  w.content "<li class='menu_firstlevel'><a href='#' onclick='return false' class='menu collapsed'>#{I18n.t('vt_letters.index_by_work_item_name')}</a><ul>"
  ["Opera d'arte", "Opera letteraria"].each do |category|
    w.content "<li class='menu_secondlevel leaf'>"
    w.content boxview_link("/boxview/indici/vt_works_category?category=#{category}",
                           category,
                           "Indice delle #{category}",
                           "vt_index_work_#{URI.escape category}",
                           :index)
    w.content "</li>"
  end
  w.content "</ul></li>"

  # per "lessico artistico"
  m = @models[:letter]
  ['Lessico artistico'].each do |glossary|
    w.content "<li class='menu_firstlevel leaf'>"
    w.content boxview_link("/boxview/indici/vt_glossary_term?glossary=#{glossary}",
                           glossary,
                           "Indice delle #{glossary}",
                           "vt_index_glossary_#{URI.escape glossary}",
                           :index)
    w.content "</li>"
  end

  # Fulltext search
  w.content "<li class='menu_firstlevel leaf'>"
  w.content render(:partial => '/boxview/shared/search', :object => :vt)
  w.content "</li>"

  w.content "</ul>"
end
%>
