<%= 
    boxview_widget 'Navigation', :class => "index widget_draggable" do |w|
        w.content "<ul>"

################
# TEST RICERCA #
################

        w.content %[
          <li>
            Cerca tra le lettere: <input id="vt_menu_search" type="text" value="" style="border: 1px solid black;"/>
            <script>
              $("#vt_menu_search").focus();
              $("#vt_menu_search").live('keyup', function(e) {
                key = e.keyCode; value = $.trim($(this).val());
                e.preventDefault(); 
                if(key == 13 && value != "") {
                  myBoxView.addBoxFromAjax({
                    qstring: '/boxview/vt_search?q='+encodeURIComponent(value),
                    title: 'Risultati ricerca di "'+value+'"',
                    verticalTitle: 'Risultati ricerca di "'+value+'"',
                    resId: 'vt_search'+value.replace(' ', '_'),
                    type: 'menu',
                    collapsed: false
                  });
                }
                return false;
              });
            </script>
          </li>
        ]

        # per data
        m = @models[:letter]
        w.content "<li class='menu_firstlevel leaf'>"
        w.content boxview_link("/boxview/indici/vt_letters_by_date", I18n.t("#{m.tableize}.menu_item_name"), "Indice "+I18n.t("vt_letters.index_by_date_item_name"), "index_#{m.tableize}", :index)
        w.content "</li>"



        # per "facet" di nomi
        m = @models[:letter]
        w.content "<li class='menu_firstlevel'><a href='#' onclick='return false' class='menu collapsed'>#{I18n.t('vt_letters.index_by_name_item_name')}</a><ul>"
        ['Divinità', 'Luogo', 'Persona', 'Personaggio'].each do |category|
          w.content "<li class='menu_secondlevel leaf'>"
          w.content boxview_link("/boxview/indici/vt_names_category?category=#{category}",
                                 category,
                                 "Indice dei nomi di #{category}",
                                 "index_nomi_#{URI.escape category}",
                                 :index)
          w.content "</li>"
        end

        types = ImageComponent.zone_types_for(PiIllustrationCard)
        types.each do |type|
          w.content "<li class='menu_secondlevel leaf'>"
          w.content boxview_link("/boxview/indici/#{@collection_id}/#{m.tableize}/#{type}", type, "Indice #{type}", "index_#{type}", :index)
          w.content "</li>"
        end
        w.content "</ul></li>"

        # per destinatari
#        m = @models[:letter]
#        w.content "<li class='menu_firstlevel leaf'>"
#        w.content boxview_link("/boxview/indici/vt_letters_by_recipient", I18n.t("#{m.tableize}.recipient_menu_item_name"), "Indice "+I18n.t("#{m.tableize}.menu_item_#name"), "index_#{m.tableize}", :index)
#        w.content "</li>"
       


  
        w.content "</ul>"
    end



#boxview_widget 'Navigation', :class => "index widget_draggable" do |w|
#  w.content %[
##    <ul>
#      <li class="menu_firstlevel leaf">#{boxview_link_for_object(@temp,
#                                           :title  => 'TEST FIRST LETTER, Introduction',
#                                           :res_id => "vt_letter_#{@temp.id}")}</li>
#
#      <li class="menu_firstlevel leaf">#{boxview_link_for_object(@temp, :url => vt_letter_vt_handwritten_text_cards_url(@temp),
#                                           :title  => 'TEST FIRST LETTER, handwritten',
#                                           :res_id => "vt_letter_vt_handwritten_text_cards_#{@temp.id}")}</li>
#
#      <li class="menu_firstlevel leaf">#{boxview_link_for_object(@temp, :url => vt_letter_vt_printed_text_cards_url(@temp),
#                                           :title  => 'TEST FIRST LETTER, printed',
#                                           :res_id => "vt_letter_vt_printed_text_cards_#{@temp.id}")}</li>
#
#      <li class="menu_firstlevel leaf">#{boxview_link_for_object(@temp, :url => diplomatic_vt_handwritten_text_card_url(@handwritten.id),
#                                           :title  => 'TEST FIRST DIPLOMATIC',
#                                           :res_id => "diplomatic_vt_handwritten_text_card_#{@handwritten.id}")}</li>
#
#      <li class="menu_firstlevel leaf">#{boxview_link_for_object(@temp, :url => critic_vt_handwritten_text_card_url(@handwritten.id),
#                                           :title  => 'TEST FIRST CRITIC',
#                                           :res_id => "critic_vt_handwritten_text_card_#{@handwritten.id}")}</li>
#
#      <li class="menu_firstlevel leaf">#{boxview_link_for_object(@temp, :url => vt_printed_text_card_url(@printed.id),
#                                           :title  => 'TEST FIRST PRINTED',
#                                           :res_id => "vt_printed_text_card_#{@printed.id}")}</li>
#    </ul>
#  ]
#end


%>

