<div class='widgetHeader metadata'>
    <h3 class='widgetHeaderTitle'><%= title %></h3>
    <div class='widgetHeaderTools'>
    <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    </div>
</div>
