<div class='widget'>

<%= render :partial => 'widget_header', :locals => {:title => 'Trascrizione Critica'} %>

  <div class='widgetContent expanded metadata'>

  <%= @transcription_html %>

  </div>

</div>