/*
This CSS defines the structure of the Boxes of the BoxView UI.
The Cosmetic is defined by the style.css in the selected Theme folder

This CSS must not be changed to customize the BoxView UI.
Instead, you can modify the style.css in the Theme folder

Where CSS instructions in this file needs some modifications, 
please don't make modifications here and over-write them in 
the Theme style file.

*/

/* Generic main BoxView elements */
.boxViewContainer * { 
    padding: 0px; 
    margin: 0px; 
    border: 0; 
}

.boxViewContainer .box {
	border: 0;
	position: absolute;
	padding: 0;
	margin: 0;
}

.boxViewContainer .box .boxContent {
	overflow-y: auto;
	overflow-x: hidden;
}

.boxViewContainer div.boxDragHandle {
    cursor: move;
    border: 0;
    z-index: 1000;
}

/* Box expanded */
.boxViewContainer div.box.expanded div.boxContent {
	padding: 0 0;
}

/* Box content Header expanded */
.boxViewContainer div.box.expanded div.boxHeader {
	position: relative;
	overflow: hidden;
}

/* Box Header elements */
/* Icons on the left and on the right */
.boxViewContainer div.box.expanded div.boxHeader .leftIcons {
	position: absolute;
	left: 0px;
	top: 0;
}

.boxViewContainer div.box.expanded div.boxHeader .rightIcons {
	position: absolute;
	right: 0px;
	top: 0;
}

.boxViewContainer div.box.expanded div.boxHeader ul {
	list-style: none;
	float: left;
}

.boxViewContainer div.box.expanded div.boxHeader ul li {
	list-style: none;
	display: block;
	float: left;
	cursor: pointer;
}

.boxViewContainer div.box.expanded div.boxHeader ul li a {
	display: block;
	text-indent: -9999px;
	background-position: center bottom;
	background-repeat: no-repeat;
}

/* Box collapsed */
.boxViewContainer div.box.collapsed div.boxHeader {
	position: relative;
	border-bottom: 0;
}

.boxViewContainer div.box.collapsed div.boxCollapsedContent {
	position: relative;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

.boxViewContainer div.box.collapsed div.boxCollapsedContent .verticalContainer {
	display: block;
	/* Rotation */
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);	
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: absolute;
	overflow: hidden;
}

/* Box Header elements */
.boxViewContainer div.box.collapsed div.boxHeader ul {
	list-style: none;
}

.boxViewContainer div.box.collapsed div.boxHeader ul li {
	list-style: none;
	display: block;
}

.boxViewContainer div.box.collapsed div.boxHeader ul li a {
	display: block;
	text-indent: -9999px;
	cursor: pointer;
	background-repeat: no-repeat;
}

.boxViewContainer div.box.collapsed div.boxHeader .title {
	display: none;
}

/* Box while loading */ 
.boxViewContainer div.box.expanded.loadingContent div.boxContent { 
	opacity: 0.5; 
}

/* Display settings, for both expanded and collapsed status */ 
div.box.collapsed div.boxCollapsedHeader, 
div.box.collapsed div.boxCollapsedContent,
div.box.expanded div.boxContent,
div.box.expanded span.boxHeaderTitle {
	display: block;
}

div.box.expanded div.boxCollapsedHeader, 
div.box.expanded div.boxCollapsedContent,
div.box.collapsed div.boxContent,
div.box.collapsed h3.boxHeaderTitle {
	display: none;
}


/* History Box */
.boxViewContainer div.box.history div.history_item {
    padding: 7px;
    margin: 1px;
    border: 0px;
}

.boxViewContainer div.box.history div.history_item span.history_status {
    border: 0px;
    width: 17px;
    height: 13px;
    margin-right: 7px;
    float: left;
}

.boxViewContainer div.box.history div.history_item span.history_action {
    margin-left: 10px;
    float: right;
}

.boxViewContainer div.box.history div.history_item span.history_action:hover {
    text-decoration: underline;
    cursor: pointer;
}
