/*
This CSS defines the structure of the Widgets of the BoxView UI
The Cosmetic is defined by the style.css in the selected Theme folder

This CSS must not be changed to customize the BoxView UI
Instead, you can modify the style.css in the Theme folder

Where CSS instructions in this file needs some modifications, please don't make modifications here and over-write them in the Theme style file.

*/

/* Widget Header */
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader {
}

.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools{
	width: 100%;
	left:0;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span {
	float: right;
	display: block;
	width: 27px;
}
	
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span.collapse {
	float: left;
	border: 0;
}
			
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span a {
	display: block;
	width: 27px;
	text-indent: -9999px;
}

.boxViewContainer div.box div.boxContent div.widget div.widgetHeader h4 {
	display: block;
	padding-left: 30px;
	overflow: hidden;
}

/* Widget Content */
.boxViewContainer div.box div.boxContent div.widget div.widgetContent.collapsed { display: none; }
.boxViewContainer div.box div.boxContent div.widget div.widgetContent.expanded { display: block; }

/* Generic Content widget style */
.boxViewContainer div.box div.boxContent div.widget div.widgetContent {
	padding: 10px;
    overflow-x: auto;
}

/* Widgeted Index */
.boxViewContainer div.box div.boxContent div.widget ul li {
    list-style-type: none;
	padding: 0px 15px 0px 0px;
	margin: 0px;
	padding: 10px 0;
}
.boxViewContainer div.box div.boxContent div.widget ul li a {
	margin-bottom: 5px;
    display: block;
}
/* Icon used for this index item */
.boxViewContainer div.box div.boxContent div.widget ul li div.indexIcon {
    padding: 0px;
    width: 60px;
    height: 40px;
    border: 0px;
    margin-right: 10px;
    float: left;
    clear: both;
    text-align: center;
}
.boxViewContainer div.box div.boxContent div.widget ul li img {
    clear: both;
}