.drag_handle {
	background: transparent url(/images/icons/arrow_out.png) top left no-repeat;
	float: right;
	width: 16px;
	height: 16px;
	cursor: move;
}

.drop_ready div.card {
	border: solid 2px blue;
}

div.card.firb-image a.link-add,
div.card.firb-image a.link-del  {
    text-decoration: none;
    border: 0px;
    padding: 0px; margin: 0px;
}

div.card.firb-image a.link-add img,
div.card.firb-image a.link-del img {
    border: 0px; padding: 0px; margin: 0px;
}

div.card.firb-image div.firb-image-picture {
    display: inline; border: 0px;
    float: left;
}
div.card.firb-image div.firb-image-picture img.firb-picture {
    padding: 2px; margin: 5px 0 5px 0;
    border: 1px dashed #666;
    width: 200px;
    display: block;
}
div.card.firb-image div.firb-image-zones {
    display: inline; float: left;
    border: 0px; padding: 2px; margin: 5px;
}
div.card.firb-image div.firb-image-picture span {
    display: block; text-align: center;
}
div.card.firb-image div.firb-image-zones span.single-zone:hover {
   border-bottom: 1px dashed #666;
}

div.card.firb-image div.firb-image-picture div.imt-viewer {
    border: 1px dashed #666;
    margin: 5px 0 5px 0;
    padding: 2px;
    width: 200px;
    height: 200px;
}