.drag_handle {
	background: transparent url(/images/icons/arrow_out.png) top left no-repeat;
	float: right;
	width: 16px;
	height: 16px;
	cursor: move;
	margin-left: 10px;
}

.delete-button {
	float: right;
	margin-left: 10px;
}

.link-add-top {
	float: right;
}

.drop_ready div.card {
	border: solid 2px blue;
}

div.card.firb-image a.link-add,
div.card.firb-image a.link-del  {
    text-decoration: none;
    border: 0px;
    padding: 0px; margin: 0px;
}

div.card.firb-image a.link-add img,
div.card.firb-image a.link-del img {
    border: 0px; padding: 0px; margin: 0px;
}

div.card div.firb-image-picture img.firb-picture {
    padding: 2px; margin: 5px 0 5px 0;
    border: 1px dashed #666;
    width: 200px;
    display: block;
}
div.card div.firb-image-zones {
    display: inline; float: left;
    border: 0px; padding: 2px; margin: 5px;
}
div.card div.firb-text-page-content, div.card div.firb-illustrated-memory-depiction-page-content {
    border: 0px; float: left;
    margin: 5px; padding: 2px;
}
div.card div.firb-image-picture span {
    display: block; text-align: center;
}
div.card.firb-image div.firb-image-zones span.single-zone:hover {
   border-bottom: 1px dashed #666;
}
div.card.firb-image div.firb-image-zones span.single-zone.highlighted {
    background: #bbb;
    border-bottom: 1px dashed #666;
}
div.card div.firb-image-picture {
    display: inline; border: 0px;
    float: left;
}
div.card div.firb-image-picture div.imt-viewer {
    border: 1px dashed #666;
    margin: 5px 0 5px 0;
    padding: 2px;
    width: 200px;
    height: 200px;
}

div.card div.firb-image-picture div.img-not-ready {
    border: 1px dashed #666;
    margin: 5px 0 5px 0;
    padding: 20px 2px;
    width: 200px;
    height: 100px;
    text-align: center;
}

div#firb-notes {
    padding: 2px;
}

div#firb-notes textarea {
    height: 80px;
}

div#firb-notes div.firb-note {
    padding: 2px;
    margin: 2px;
    background: #ddd;
}

#firb-add-note, .firb-remove-note, #firb-add-iconclass-term {
    margin: 2px;
    display: block;
    cursor: pointer;
}

/* Iconclass term autocomplete */
div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}


/* iconclass term */
div#firb-iconclass-terms div.firb-iconclass-term {
    border: 0px;
}
div#firb-iconclass-terms div.firb-iconclass-term span {
    padding: 2px;
    margin: 5px; 
}
div#firb-iconclass-terms div.firb-iconclass-term span.firb-remove-iconclass-term {
    cursor: pointer;
    margin: 5px; border: 0px;
    background: #666; color: #fc0;
}

ul#card-selector {
    margin:0 45px 15px;
    list-style: none;
}

ul#card-selector li {
    display: inline;
    margin: 0 15px 0 0;
    padding: 5px;
}

ul#card-selector li.selected {
    background: #666; color: #fc0;
}