/* Definizione tag generici */
body
{
	background: #e9e7e4 url(img/body_bg.jpg) top left repeat-x;
}

/* Header */
#pageHeader {
	background: transparent url(img/header_bg.jpg) top left no-repeat;
}

#pageHeader h1 {
	font-family: 'OFL Sorts Mill Goudy TT', Georgia, 'Times New Roman', Times, serif;
	color: #ffffff;
	font-weight: 100;
	text-shadow: 0px 1px 1px #3c2a1d;
	/* text-shadow: 0px -1px 0px #3c2a1d; */
}

#pageExt #pageHeader p {
	font-family: 'OFL Sorts Mill Goudy TT', Georgia, 'Times New Roman', Times, serif;
	color: #5f351a;
	font-weight: 500;
	text-shadow: 0px 1px 1px rgba(255,255,255,1);
	top: 72px;
}