/* *********************************** */
/* Box */

/* Theme custom Box tools and buttons */
.boxViewContainer * { 
    font-family: Helvetica, Arial, Verdana, sans-serif; 
    font-size: 10pt;
}

.boxViewContainer {
	background: #fff;
}

.boxViewContainer .box {
	background: #fff;
}

/* Box content Header */
.boxViewContainer div.box.expanded div.boxHeader {
	border-bottom: 1px solid #fff;
}

/* Box content Header expanded */
.boxViewContainer div.box.expanded div.boxHeader .title h3.boxHeaderTitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	/* line-height: 18px; */
	/* Dobbiamo capire come gestire il titolo, se su multiline o riga singola */
}

/* Box content Header collapsed */
.boxViewContainer div.box.collapsed div.boxCollapsedContent .verticalContainer p {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	/* line-height: 18px; */
	/* Dobbiamo capire come gestire il titolo, se su multiline o riga singola */
}

/* Box tools and buttons, both for expanded and collapsed status */ 
.boxViewContainer div.box.expanded div.boxHeader ul li a.collapseTool {
	background-image: url(images/boxes/box_bar_expanded.png);
}
.boxViewContainer div.box.collapsed div.boxHeader ul li a.collapseTool {
	background-image: url(images/boxes/box_bar_collapsed.png);
}
.boxViewContainer div.box.expanded div.boxHeader ul li a.removeTool {
	background-image: url(images/boxes/box_bar_close.png);
}
.boxViewContainer div.box.collapsed div.boxHeader ul li a.removeTool {
	background-image: url(images/boxes/box_bar_close.png);
}
.boxViewContainer div.box.expanded div.boxHeader ul li a.collapseTool:hover {
	background-image: url(images/boxes/box_bar_expanded_ro.png);
}
.boxViewContainer div.box.collapsed div.boxHeader ul li a.collapseTool:hover {
	background-image: url(images/boxes/box_bar_collapsed_ro.png);
}
.boxViewContainer div.box.expanded div.boxHeader ul li a.removeTool:hover {
	background-image: url(images/boxes/box_bar_close_ro.png);
}
.boxViewContainer div.box.collapsed div.boxHeader ul li a.removeTool:hover {
	background-image: url(images/boxes/box_bar_close_ro.png);
}

/* Default Colors for Box Header, for both expanded and collapsed status */ 
.boxViewContainer div.box div.boxHeader,
.boxViewContainer div.box.collapsed,
.boxViewContainer div.box.collapsed div.boxCollapsedContent {
	background-color: #535353;
}

/* Default Colors for Box Content */
.boxViewContainer div.box div.boxContent {
	background-color: #ededed;
	color: #535353;
}


/* History Box */
.boxViewContainer div.box.history div.boxHeader, 
.boxViewContainer div.box.history.collapsed,
.boxViewContainer div.box.history.collapsed div.boxCollapsedContent {
	background-color: #cacaca;
}

.boxViewContainer div.box.history div.history_item {
	background-color: #036;
    color: white;
}

.boxViewContainer div.box.history div.history_item:hover {
    background-color: #258;
}

.boxViewContainer div.box.history div.history_item span.history_status {
    background-color: #fff;
}

.boxViewContainer div.box.history div.history_item.collapsed {
    color: #666;
}

.boxViewContainer div.box.history div.history_item.collapsed span.history_status {
    background-color: #666;
}

.boxViewContainer div.box.history div.history_item.closed span.history_status {
    background-color: #000;
}


.boxViewContainer div.box.history div.history_item span.history_action {
    color: #c60;
}

.boxViewContainer div.box.history div.history_item span.history_action:hover {
    color: #fc0;
}

/* Index Box */
.boxViewContainer div.box.index div.boxHeader, 
.boxViewContainer div.box.index.collapsed,
.boxViewContainer div.box.index.collapsed div.boxCollapsedContent {
	background-color: #7d7d7d;
}






/* *********************************** */
/* Widget */

/* Widget Header */
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader {
	height: 26px;
	border-bottom: 1px solid #FFF;	
	background-color: #c2c2c2;
}

.boxViewContainer div.box div.boxContent div.widget div.widgetHeader h4 {
	font-weight: bold;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 28px;
	height: 26px;
	font-size: 12px;
}

.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools{
	margin-top: -26px;
	height: 26px;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span {
	height: 26px;
}
	
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span a {
	height: 26px;
}

/* Generic Content widget style */
.boxViewContainer div.box div.boxContent div.widget {
	background-color: #ededed;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetContent {
	font-size: 12px;
	line-height: 20px;
}
	
/* Theme custom Widget's icons */
/* Widget's icons */
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span {
	border-left: 1px solid #9d9d9d;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span.collapse a.expanded {
	background: transparent url(images/widget/widget_icon_expanded.png) top left no-repeat;
	background-position: 8px 5px;
	background-repeat: no-repeat;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span.collapse a.expanded:hover {
	background: transparent url(images/widget/widget_icon_expanded_ro.png) top left no-repeat;
	background-position: 8px 5px;
	background-repeat: no-repeat;
}	
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span.collapse a.collapsed {
	background: transparent url(images/widget/widget_icon_collapsed.png) top left no-repeat;
	background-position: 8px 5px;
	background-repeat: no-repeat;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span.collapse a.collapsed:hover {
	background: transparent url(images/widget/widget_icon_collapsed_ro.png) top left no-repeat;
	background-position: 8px 5px;
	background-repeat: no-repeat;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span.previous a {
	background: transparent url(images/widget/widget_icon_back.gif) top left no-repeat;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span.next a {
	background: transparent url(images/widget/widget_icon_forward.gif) top left no-repeat;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span.zoom a {
	background: transparent url(images/widget/widget_icon_zoom.gif) top left no-repeat;
}
.boxViewContainer div.box div.boxContent div.widget div.widgetHeader div.widgetHeaderTools span.drag a {
	background: transparent url(images/widget/widget_icon_drag.gif) top left no-repeat;
}

/* Widgeted Index */
.boxViewContainer div.box div.boxContent div.widget ul li {
	border-bottom: 1px solid #d3d3d3;
}
.boxViewContainer div.box div.boxContent div.widget ul li a {
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	/* color: #535353; */
	font-size: 14px;
}
.boxViewContainer div.box div.boxContent div.widget ul li a:hover {
	text-decoration: underline;
}
/* Icon used for this index item */
.boxViewContainer div.box div.boxContent div.widget ul li img {
    height: 35px;
    border: 1px solid #d3d3d3;
}

