html, body {
	border:0 none;
	font-family:Georgia,"Times New Roman",Times,serif;
	height:100%;
	margin:0;
	padding:0;
	text-align:justify;
	width:100%;
	overflow: hidden;
}

#pageExt {
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	text-align:left;
	top:0;
	width:100%;
}

#pageHeader {
	background: #fff;
	border-bottom: 1px solid #E1E1E1;
	height: 90px;
	margin: 0;
	width: 100%;
}

#pageContent, #pageContent2 {
	background: #ccc;
	position: relative;
	right: 0;
	left: 0;
	width: 100%;
	border: 0;
}

.boxViewContainer {
	background: #999;
}

h3, p {
	margin: 0px; padding: 0px; border: 0px;
}


.boxViewContainer .box {
	border: 0;
	background: #f99;
	position: absolute;
	padding: 0;
	margin: 0;
}

.boxViewContainer .box .boxContent {
	overflow-y: auto;
	overflow-x: hidden;
}


.boxViewContainer div.box.collapsed {
	background-color: #99f;
}

.boxViewContainer div.box.yellow {
	background: #fc7;
}
.boxViewContainer div.box.yellow { }


.boxViewContainer div.box div.boxHeader {
	background-color: #fc0;
}

.boxViewContainer div.box p.boxTool {
	background-color: #f00; color: white; width: 20px; display: block;
}
.boxViewContainer div.box p.boxTool:hover {
	background-color: #3f3; color: black;
	cursor: pointer;
}

div.boxContent {
	overflow: auto;
}

div.box div.boxCollapsedContent { background: #0f0; position: relative;}

div.box.collapsed div.boxCollapsedHeader, 
div.box.collapsed div.boxCollapsedContent,
div.box.expanded div.boxContent,
div.box.expanded span.boxHeaderTitle {
	display: block;
}

div.box.expanded div.boxCollapsedHeader, 
div.box.expanded div.boxCollapsedContent,
div.box.collapsed div.boxContent,
div.box.collapsed h3.boxHeaderTitle {
	display: none;
}
