/* --- Table Of Contents

01. HTML TAGS 
		1. Firefox a tag dotted line removal
02. GENERIC CLASSES 
		1. Text Zone Highlight
03. PAGE STRUCTURE
		1. Page Sections
		2. Header
04. HEADER
		1. Main Header Attributes
		2. Header Preferences
05. BOX
		1. Generic Box Features
		2. Index Box
		3. Index Box Multilevel
		4. Trascription Box
		5. Anastatic Box
06. WIDGETS
		1. Generic Widget Features
		2. Collapsable Description Fields
		3. Widget Right Icons Normal
		4. Widget Right Icons Rollover
07. MENU WIDGET
		1. Main Features
		2. First Level
		3. Second Level
		4. Sub Levels Titles
08. MENU FENOMENI
		1. Generic Menu Features
GARBAGE

--- */


/* ________________________________________________________________________________________________________________
	01. HTML TAGS
 ________________________________________________________________________________________________________________ */
/* ------- 1. Firefox a tag dotted line removal ------- */
a {
   outline: 0;
}


/* ________________________________________________________________________________________________________________
	02. GENERIC CLASSES
 ________________________________________________________________________________________________________________ */
/* ------- 1. Text Zone Highlight ------- */
.zone_highlighted {
	background-color: #fffbb9;
}

/* ________________________________________________________________________________________________________________
	03. PAGE STRUCTURE
 ________________________________________________________________________________________________________________ */
/* ------- 1. Page Sections ------- */
#pageExt {
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	text-align:left;
	top:0;
	width:100%;
}
#pageContent {
	position: absolute;
	margin: 0; padding: 0; border: 0;
	right: 0px;
	top: 102px;
	left: 217px;
	left:0;
	width:100%;
	overflow: hidden;
}

/* ------- 2. Header ------- */
#pageHeader {
	height: 102px;
	margin: 0;
	width: 100%;
}

/* ________________________________________________________________________________________________________________
	04. HEADER
 ________________________________________________________________________________________________________________ */
/* ------- 1. Main Header Attributes ------- */
#pageHeader h1 {
	display: block;
	font-size: 44px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 10px;
	top: 10px;
}
#pageHeader p {
	display: block;
	font-size: 20px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 10px;
	top: 70px;
}

/* ------- 2. Header Preferences ------- */
#header_preferences_wrapper {
	position: absolute;
	height: 34px; margin: 0; padding: 0 7px 0 0; 
	top: 23px;
	right: 10px;
	background: url(pi/img/preferences_bg_right.png) no-repeat scroll right top transparent;
}
	#header_preferences {
		height: 34px; 
		margin: 0;
		padding: 0 0 0 7px; 
		background: url(pi/img/preferences_bg_left.png) no-repeat scroll left top transparent;
	}
		#header_preferences ul {
			height: 34px; margin: 0; padding: 0; 
			overflow: hidden;
			background: url(pi/img/preferences_bg.png) repeat-x scroll left top transparent;
			cursor: pointer;
		}
			#header_preferences ul li {
				margin: 7px 0 5px 0;
				padding: 0 4px 0 4px;
				display: block;
				width: 22px;
				height: 22px; 
				float: left;
				background: url(pi/img/pref_icons.png) center right no-repeat;
				background-position: 28px 0;
				cursor: pointer;
				text-indent: -9999px;
			}
			#header_preferences ul li:last-child {
				background: none;
			}
			#header_preferences ul li a {
				text-indent: -9999px;
				display: block;
				width: 20px;
				height: 20px;
				background: url(pi/img/pref_icons.png) center right no-repeat;
				cursor: pointer;
			}
			#header_preferences #pref_intro {background-position: -2px 0;}
			#header_preferences #pref_help {background-position: -22px 0;}
			#header_preferences #pref_history {background-position: -42px 0;}
			#header_preferences #pref_link {background-position: -62px 0;}
			#header_preferences #pref_notebooks {background-position: -82px 0;}
			#header_preferences #pref_settings {background-position: -102px 0;}
			
			#header_preferences #pref_intro:hover {background-position: -2px -20px;}
			#header_preferences #pref_help:hover {background-position: -22px -20px;}
			#header_preferences #pref_history:hover {background-position: -42px -20px;}
			#header_preferences #pref_link:hover {background-position: -62px -20px;}
			#header_preferences #pref_notebooks:hover {background-position: -82px -20px;}
			#header_preferences #pref_settings:hover {background-position: -102px -20px;}
			
/* ________________________________________________________________________________________________________________
	05. BOX
 ________________________________________________________________________________________________________________ */
/* ------- 1. Generic Box Features ------- */
 .boxViewContainer .boxContent {
	font-family:Arial, Helvetica, sans-serif;
}

/* ------- 2. Index Box ------- */
.boxViewContainer .box.index .boxContent .widgetContent ul li {
	padding: 5px 0;	
}

.box.index .widgetContent ul li .indexContent h5{
	font-size: 13px;
	line-height: 16px;
}
.box.index .widgetContent ul li .indexContent h5 a.boxview_link {
	font-size: 13px;
	line-height: 16px;
	padding: 0;
	margin: 0 0 3px 0;
}
.box.index .widgetContent ul li .indexContent p.indexItemDescription {
	font-size: 11px;
	line-height: 14px;
}

/* ------- 3. Index Box Multilevel ------- */
.box.index .widgetContent ul {
}

.boxViewContainer .box.index .widgetContent ul li {
	border-bottom: 0;
}

.box.index .widgetContent ul li a.menu {
	font-size: 30px;
}

.box.index .widgetContent ul li a.menu ul {
}

.boxViewContainer .box.index .widgetContent ul li a.menu ul li {
	border-bottom: 1px solid #D3D3D3;
	border-bottom: 0;
}

.box.index .widgetContent ul li a.menu ul li a.boxview_link {
	font-size: 12px;
} 









/* ------- 4. Trascription Box ------- */
/* Da capire bene che fanno */
.transcription a.transcription_open_icon {
	display: inline-block; /* Occhio alla compatibilità */
	width: 13px;
	height: 13px;
	background: transparent url(pi/img/transcription_icons.png) top left no-repeat;
	text-indent: -9999px;
	background-position: -26px -0;
	cursor: pointer;
}
.transcription a.transcription_open_icon:hover {
	background-position: -26px -13px;
}
.transcription a.transcription_close_icon {
	display: block;
	width: 13px;
	height: 13px;
	background: transparent url(pi/img/transcription_icons.png) top left no-repeat;
	text-indent: -9999px;
	background-position: -39px -0;
	cursor: pointer;
}
.transcription a.transcription_close_icon:hover {
	background-position: -39px -13px;
}
.boxViewContainer .box.transcription .widgetHeader {
	z-index: 1;
}
.boxViewContainer .box.transcription .widgetContent {
	padding: 0;
	overflow: visible;
	position: relative;
}
.boxViewContainer .transcription_text {
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
}
.transcription_text span.line { /* Manda a capo */
	display: block;
}
.transcription_notes_content .note {
    /* cursor: pointer; */
}
.transcription_notes_content .note:hover {
    /* cursor: pointer; */
    /* background-color: rgba(100,100,100,0.1); */ /* Nota: cambiare il colore - Spostare in firb.css? */
}
.transcription_text span.note_link {
    padding: 0px 5px;
    color: #992000;
}
.transcription_text span.note_link:hover {
    cursor: pointer;
}
.transcription_text .transcription_img_wrapper.hidden,
.transcription_text .transcription_letter_icon.hidden,
.transcription_text .transcription_image_icon.hidden {
    display:none;
}

.transcription_text .highlighted {
   	background-color: #fffbb9;
    padding: 0 3px;
}

/* Box Trascrizione | Immagini dentro al testo */
.transcription .transcription_img_wrapper {
	display: inline-block; /* Occhio alla compatibilità */
	border: 1px solid #CCCCCC;
	position: relative;
}
.transcription .transcription_img_wrapper embed{
	width: 100% !important;
	height: 100% !important	
}
.transcription img {
	display: block;
	border: 1px solid #d2d2d2;
	padding: 1px;
}
.transcription .transcription_img_wrapper a.transcription_open_icon {
	position: absolute;
	top: 1px;
	left: 1px;
}
.transcription .transcription_img_wrapper a.transcription_close_icon {
	position: absolute;
	top: 1px;
	right: 1px;
}
.transcription a.transcription_image_icon {
	display: block;
	width: 13px;
	height: 13px;
	background: transparent url(pi/img/transcription_icons.png) top left no-repeat;
	text-indent: -9999px;
	cursor: pointer;
}
.transcription a.transcription_image_icon:hover {
	background-position: 0px -13px;
}
.transcription a.transcription_letter_icon {
	display: block;
	width: 13px;
	height: 13px;
	background: transparent url(pi/img/transcription_icons.png) top left no-repeat;
	text-indent: -9999px;
	background-position: -13px -0;
	cursor: pointer;
}
.transcription a.transcription_letter_icon:hover {
	background-position: -13px -13px;
}

	/* Toggle larghezza colonna trascrizione */
	.box.transcription .widgetContent.notes-hidden .transcription_text { width: 100%; }
	.box.transcription .widgetContent.notes-displayed  .transcription_text { width: 70%; }

	.transcription_text .transcription_text_content {
		/* padding: 10px; Controllare se effettivamente funziona */
	}

.transcription_notes {
	width: 26%;
	background: #f2f2f2 url(pi/img/transcription_notes_bg.gif) top left repeat-y;
	float: right;
	position: relative;
}
	/* Toggle larghezza colonna trascrizione */
	.box.transcription .widgetContent.notes-hidden .transcription_notes { display: none; }
	.box.transcription .widgetContent.notes-displayed  .transcription_notes { display: block ;width: 27%; margin-top: -10px; margin-right: -10px; padding-top: 10px;}

	.transcription_notes a.transcription_close_icon {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 2;
	}
	
	.transcription_notes .transcription_notes_content {
		padding: 10px;
		height: 500px; 
		z-index: 1;
	}
	
		.transcription_notes .transcription_notes_content .note p{
			font-size: 11px;
			line-height: 13px;
			padding-bottom: 3px;
			padding-right: 20px;
			margin-bottom: 3px;
		}
		
		.transcription_notes .transcription_notes_content .note.open .closed {
			display: none;
		}
		
		.transcription_notes .transcription_notes_content .note.closed .open {
			display: none;
		}
		
		.transcription_notes .transcription_notes_content .note.open {
			color: #666;
			border-bottom: 1px solid #ccc;
		}
		.transcription_notes .transcription_notes_content .note.closed {
			color: #992000;
			cursor: pointer;
		}
		.transcription_notes .transcription_notes_content .note.closed:hover {
			text-decoration: underline;
			background: none;
		}

/* ------- 5. Anastatic Box ------- */
/* Lista Elementi correlati */
.box.anastatic .widgetContent ul li .indexContent h5{
	font-size: 12px;
	line-height: 12px;
}
.box.anastatic .widgetContent ul li .indexContent h5 a.boxview_link {
	font-size: 12px;
	line-height: 12px;
	padding: 0;
	margin: 0 0 5px 0;
}
.box.anastatic .widgetContent ul li .indexContent p.indexItemDescription {
	line-height: 14px;
}


	
/* ________________________________________________________________________________________________________________
	06. WIDGETS
 ________________________________________________________________________________________________________________ */
/* ------- 1. Generic Widget Features ------- */
.boxViewContainer .box .boxContent .widget .widgetContent { /* Nota: controllare se si può togliere .boxViewContainer .box .boxContent */
	padding: 10px;
}
.boxViewContainer .box .boxContent .widget { /* Nota: controllare se si può togliere .boxViewContainer .box .boxContent  */
	clear: both;
}
.boxViewContainer .box .widgetContent {
	font-size: 11px;
}

/* ------- 2. Collapsable Description Fields ------- */
.widgetContent .widgetField .field_title {
    display:block;
   	font-size: 12px;
	line-height: 20px;
	padding-left: 15px;
	font-family:Arial, Helvetica, sans-serif;
	color: #808080;
	cursor: pointer;
}
.widgetContent div span.field_title.expanded {
	background-image: url(img/widget_inner_icon_expanded.png);
	background-position: 0px 4px;
	background-repeat: no-repeat;
}
.widgetContent div span.field_title.collapsed {
	background-image: url(img/widget_inner_icon_collapsed.png);
	background-position: 0px 4px;
	background-repeat: no-repeat;
}


/* ------- 3. Widget Right Icons Normal ------- */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.trascrizione a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.trascrizione a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: 0 center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.fenomeni a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.fenomeni a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -150px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.anastatica a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.anastatica a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -200px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.prev a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.prev a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -50px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.next a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.next a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -100px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.note a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.note a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -300px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.illustrazione a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.illustrazione a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -250px center;
}
/* Trascrizione Critica Manoscritto  */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.critical_manuscript a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.critical_manuscript a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -400px center;
}
/* Trascrizione Critica Stampa */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.critical_print a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.critical_print a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -350px center;
}
/* Apparato */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.pdf a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.pdf a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -450px center;
}
/* Icona carro */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.cart a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.cart a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -500px center;
}
/* Icona veicolo */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.vehicle a, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.vehicle a.alignMiddle {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -500px center;
}

/* ------- 4. Widget Right Icons Rollover ------- */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.trascrizione a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.trascrizione a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -25px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.fenomeni a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.fenomeni a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -175px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.anastatica a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.anastatica a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -225px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.prev a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.prev a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -75px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.next a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.next a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -125px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.note a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.note a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -325px center;
}
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.illustrazione a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.illustrazione a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -275px center;
}
/* Trascrizione Critica Manoscritto  */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.critical_manuscript a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.critical_manuscript a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -425px center;
}
/* Trascrizione Critica Stampa */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.critical_print a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.critical_print a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -375px center;
}
/* Apparato */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.pdf a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.pdf a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -475px center;
}
/* Icona carro */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.cart a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.cart a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -525px center;
}
/* Icona veicolo */
div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.vehicle a:hover, div.boxViewContainer div.box div.widget div.widgetHeader div.rightIcons ul li.vehicle a.alignMiddle:hover {
	background: url(img/widget_added_icons_right_sprite.png) center center no-repeat;
	background-position: -525px center;
}

/* ________________________________________________________________________________________________________________
	07. MENU WIDGET
 ________________________________________________________________________________________________________________ */
/* ------- 1. Main Features ------- */
.boxViewContainer .box.menu .widget.menu .widgetContent ul {
		list-style-type: none;
	}
	/* A little reset */
	.boxViewContainer .box.menu .widget.menu .widgetContent ul li, .boxViewContainer .box.menu .widget.menu .widgetContent ul li a {
		border: none;
		padding: 0;
		margin: 0;
	}

/* ------- 2. First Level ------- */
.boxViewContainer .box.menu .widget.menu .widgetContent ul li.menu_firstlevel a.boxview_link  {
	margin: 0;
	padding: 5px 5px 5px 0px;
	display: block;
	font-size: 12px;
	overflow: hidden;
	border-bottom: 1px solid #ededed;
	font-weight: normal;
	/* color: #555555; */
}
	.boxViewContainer .box.menu .widget.menu .widgetContent ul li.menu_firstlevel a.boxview_link:hover {
	}
		
/* ------- 3. Second Level ------- */
.boxViewContainer .box.menu .widget.menu .widgetContent ul li.menu_firstlevel ul li.menu_secondlevel {
	border-bottom: 0;
	margin: 0;
}
	.boxViewContainer .box.menu .widget.menu .widgetContent ul li.menu_firstlevel ul li.menu_secondlevel a.boxview_link  {
		margin: 0;
		padding: 5px 5px 5px 17px;
		font-size: 11px;
		border-bottom: 1px solid #ededed;
		text-decoration: none;
		font-weight: normal;
	}
		.boxViewContainer .box.menu .widget.menu .widgetContent ul li.menu_firstlevel ul li.menu_secondlevel a.boxview_link:hover {
			text-decoration: underline;
		}
		
/* ------- 4. Sub Levels Titles ------- */			
.boxViewContainer .box.menu .widget.menu .widgetContent ul li a.menu {
	font-size: 12px;
	margin: 0;
	padding: 5px 5px 5px 17px;
	border-bottom: 1px solid #ededed;
	color: #555;
	text-decoration: none;
	font-weight: normal;
}
	.boxViewContainer .box.menu .widget.menu .widgetContent ul li a.menu:hover {
		color: #555;
		text-decoration: none;
		font-weight: normal;
	}
	.boxViewContainer .box.menu .widget.menu .widgetContent ul li a.menu.expanded {
		background-image: url(img/widget_inner_icon_expanded.png);
		background-position: 0px 9px;
		background-repeat: no-repeat;
	}
	
	.boxViewContainer .box.menu .widget.menu .widgetContent ul li a.menu.collapsed {
		background-image: url(img/widget_inner_icon_collapsed.png);
		background-position: 0px 9px;
		background-repeat: no-repeat;
	}


/* ________________________________________________________________________________________________________________
	08. MENU FENOMENI
 ________________________________________________________________________________________________________________ */
/* ------- 1. Generic Menu Features ------- */
.boxViewContainer .fen_menu_panel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
    background-color: #ededed;
    /* box-shadow: 0 1px 3px #000000; */
    border-left: 1px solid #dad9d8;
    border-bottom: 1px solid #dad9d8;
    border-right: 1px solid #dad9d8;
    display: block;
    padding: 5px;
    position: absolute;
    right: 50px;
    top: 0px;
    width: 180px;
    /*
    Bottom rounded borders... not that nice!
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;

	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;

	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	*/
	/*DEBUG: sta roba andra' sopra al flash? boh .. */
    z-index: 10;
    display: block;
}

div.fen_menu_panel.hidden {
    display: none;
}

.boxviewcontainer .box .boxcontent .widget div.fen_menu_panel ul,
.boxviewcontainer .box .boxcontent .widget div.fen_menu_panel li {
	padding: 0px; margin: 0px;
	border: 0px;
	cursor: pointer;
}

.boxviewcontainer .box .boxcontent .widget div.fen_menu_panel li {
	padding-left: 10px;
}

.boxviewcontainer .box .boxcontent .widget div.fen_menu_panel li.phen_section, .boxviewcontainer .box .boxcontent .widget div.fen_menu_panel li.phen_item {
	padding-top: 3px;
	margin-top: 2px;
	padding-bottom: 3px;
	margin-bottom: 2px;
}

.boxviewcontainer .box .boxcontent .widget div.fen_menu_panel li.highlighted {
	background-color: #fffbb9;
	border: 1px solid #f6f0ad;
    padding: 2px 5px 2px 15px;
}

.fen_menu_panel li.phen_section {
	font-weight: bold;
}

.fen_menu_panel ul li ul li.phen_item {
	background: url(img/fen_menu_panel_list.png) top left no-repeat;
	background-position: 0 8px;
}

.fen_menu_panel ul li ul li.phen_item.highlighted {
	background-position: 5px 8px;
}

.boxviewcontainer div.fen_menu_panel li.phen_item {
	margin-left: 8px;
}

/* ________________________________________________________________________________________________________________
	GARBAGE
 ________________________________________________________________________________________________________________ */
/*GIULIO LEGGIMI E RIMUOVIMI... O SMISTAMI... */

/*
span.ill_md.zone_highlighted,
a.zone_highlighted,
.transcription_text .zone_highlighted,
.transcription_text .highlighted.zone_highlighted {
	background-color: #fffdba;
}
*/

/* Una span.line rappresenta una linea della trascrizione.. deve mandare a capo */




