/*
Liberamente copiato da Doni, oh yeah!
*/

/*
******************************************
Page Sections
******************************************
*/
#pageExt {
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	text-align:left;
	top:0;
	width:100%;
}

#pageContent {
	position: absolute;
	margin: 0; padding: 0; border: 0;
	right: 0px;
	top: 102px;
	left: 217px;
	overflow: hidden;
}



/*
Box Trascrizione > Widget Trascrizione
Definizione generica icone
*/
.transcription a.transcription_open_icon {
	display: inline-block; /* Occhio alla compatibilità */
	width: 13px;
	height: 13px;
	background: transparent url(pi/img/transcription_icons.png) top left no-repeat;
	text-indent: -9999px;
	background-position: -26px -0;
	cursor: pointer;
}
	
	.transcription a.transcription_open_icon:hover {
		background-position: -26px -13px;
	}

.transcription a.transcription_close_icon {
	display: block;
	width: 13px;
	height: 13px;
	background: transparent url(pi/img/transcription_icons.png) top left no-repeat;
	text-indent: -9999px;
	background-position: -39px -0;
	cursor: pointer;
}

	.transcription a.transcription_close_icon:hover {
		background-position: -39px -13px;
	}
	
/*
Box Trascrizione > Widget Trascrizione > Note
*/
.boxViewContainer .box.transcription .widgetHeader {
	z-index: 1;
}

.boxViewContainer .box.transcription .widgetContent {
	padding: 0;
	overflow: visible;
}

.transcription_text {
	float: left;
}

/* Contenuto evidenziato all'interno della trascrizione (in relazione ad una nota o altro)*/
.transcription_text .highlighted {
	background-color: rgba(255, 175, 0, 0.75);
}
/* Una span.line rappresenta una linea della trascrizione.. deve mandare a capo */
.transcription_text span.line {
	display: block;
}

	/* Toggle larghezza colonna trascrizione */
	.box.transcription .widgetContent.notes-hidden .transcription_text { width: 100%; }
	.box.transcription .widgetContent.notes-displayed  .transcription_text { width: 70%; }

	.transcription_text .transcription_text_content {
		padding: 10px;
	}

.transcription_notes {
	width: 26%;
	background: #f2f2f2 url(pi/img/transcription_notes_bg.gif) top left repeat-y;
	float: right;
	position: relative;
}
	/* Toggle larghezza colonna trascrizione */
	.box.transcription .widgetContent.notes-hidden .transcription_notes { display: none; }
	.box.transcription .widgetContent.notes-displayed  .transcription_notes { display: block ;width: 27%; margin-top: -10px; padding-top: 10px}

	.transcription_notes a.transcription_close_icon {
		position: absolute;
		top: 16px;
		right: 6px;
	}
	
	.transcription_notes .transcription_notes_content {
		padding: 10px;
		height: 500px; 
	}
	
		.transcription_notes .transcription_notes_content .note p{
			font-size: 10px;
			line-height: 15px;
			padding-bottom: 3px;
			margin-bottom: 3px;
		}
		
		.transcription_notes .transcription_notes_content .note.open .closed {
			display: none;
		}
		
		.transcription_notes .transcription_notes_content .note.closed .open {
			display: none;
		}
		
		.transcription_notes .transcription_notes_content .note.open {
			color: #666;
		}
		.transcription_notes .transcription_notes_content .note.closed {
			color: #999;
		}

/*
Box Trascrizione > Widget Trascrizione > Immagini dentro al testo
*/
.transcription .transcription_img_wrapper {
	display: inline-block; /* Occhio alla compatibilità */
	position: relative;
}

.transcription img {
	display: block;
	border: 1px solid #d2d2d2;
	padding: 1px;
}

.transcription .transcription_img_wrapper a.transcription_open_icon {
	position: absolute;
	top: 1px;
	left: 1px;
}

.transcription .transcription_img_wrapper a.transcription_close_icon {
	position: absolute;
	top: 1px;
	right: 1px;
}

.transcription a.transcription_image_icon {
	display: block;
	width: 13px;
	height: 13px;
	background: transparent url(pi/img/transcription_icons.png) top left no-repeat;
	text-indent: -9999px;
	cursor: pointer;
}

	.transcription a.transcription_image_icon:hover {
		background-position: 0px -13px;
	}

.transcription a.transcription_letter_icon {
	display: block;
	width: 13px;
	height: 13px;
	background: transparent url(pi/img/transcription_icons.png) top left no-repeat;
	text-indent: -9999px;
	background-position: -13px -0;
	cursor: pointer;
}

	.transcription a.transcription_letter_icon:hover {
		background-position: -13px -13px;
	}

/*
******************************************
Header
******************************************
*/
#pageHeader {
	height: 102px;
	margin: 0;
	width: 100%;
}
	#pageHeader h1 {
		display: block;
		font-size: 44px;
		margin: 0;
		padding: 0;
		position: absolute;
		left: 10px;
		top: 10px;
	}
	
	#pageHeader p {
		display: block;
		font-size: 20px;
		margin: 0;
		padding: 0;
		position: absolute;
		left: 10px;
		top: 70px;
	}
	
	/*
	Header Preferences 
	Box in alto a destra nella testata che contiene le icone dei vari strumenti di settaggio delle preferenze
	*/
	
	#header_preferences_wrapper {
		position: absolute;
		height: 34px; margin: 0; padding: 0 7px 0 0; 
		top: 23px;
		right: 10px;
		background: url(pi/img/preferences_bg_right.png) no-repeat scroll right top transparent;
	}
		#header_preferences {
			height: 34px; 
			margin: 0;
			padding: 0 0 0 7px; 
			background: url(pi/img/preferences_bg_left.png) no-repeat scroll left top transparent;
		}
			#header_preferences ul {
				height: 34px; margin: 0; padding: 0; 
				overflow: hidden;
				background: url(pi/img/preferences_bg.png) repeat-x scroll left top transparent;
				cursor: pointer;
			}
				#header_preferences ul li {
					margin: 7px 0 5px 0;
					padding: 0 4px 0 4px;
					display: block;
					width: 22px;
					height: 22px; 
					float: left;
					background: url(pi/img/pref_icons.png) center right no-repeat;
					background-position: 28px 0;
					cursor: pointer;
					text-indent: -9999px;
				}
				
				#header_preferences ul li:last-child {
					background: none;
				}
				
				#header_preferences ul li a {
					text-indent: -9999px;
					display: block;
					width: 20px;
					height: 20px;
					background: url(pi/img/pref_icons.png) center right no-repeat;
					cursor: pointer;
				}
				
				#header_preferences #pref_intro {background-position: -2px 0;}
				#header_preferences #pref_help {background-position: -22px 0;}
				#header_preferences #pref_history {background-position: -42px 0;}
				#header_preferences #pref_link {background-position: -62px 0;}
				#header_preferences #pref_notebooks {background-position: -82px 0;}
				#header_preferences #pref_settings {background-position: -102px 0;}
				
				#header_preferences #pref_intro:hover {background-position: -2px -20px;}
				#header_preferences #pref_help:hover {background-position: -22px -20px;}
				#header_preferences #pref_history:hover {background-position: -42px -20px;}
				#header_preferences #pref_link:hover {background-position: -62px -20px;}
				#header_preferences #pref_notebooks:hover {background-position: -82px -20px;}
				#header_preferences #pref_settings:hover {background-position: -102px -20px;}


