<%
	# Parameters:
	# @notes: array of notes

    notes_w = ''
    notes.each do |n|
        notes_w << %[
            <div class="note" id="note_#{n[:class]}">
                <p class="open">
                  <span>#{n[:name]}</span>
                  <span>#{n[:content]}</span>
                </p>
            </div>
        ]
    end

%>

<%= 
    boxview_widget 'Note', {:class => 'notes widget_draggable'} do |w| 
        w.content content_tag(:div, notes_w)
    end if notes_w.present?
%>
