<%
	# Parameters:
	# @notes: array of notes

    notes_w = ''
    notes.each do |n|
        notes_w << %[
            <div class="note closed" id="note_#{n[:class]}">
                <p class="open">
                    #{n[:name]}<br>
                    #{n[:content]}
                </p>
                <p class="closed">#{n[:name]}</p>
            </div>
        ]
    end

%>

<%= 
    boxview_widget 'Note', {:class => 'notes widget_draggable'} do |w| 
        w.content content_tag(:div, notes_w)
    end
%>
