<%= boxview_widget 'Introduzione', {:class => 'introduzione widget_draggable'} do |w| 
  w.content %[

<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.81cm; text-indent: 1.59cm; margin-bottom: 0cm">
Progetto MaGi (Manoscritti digitali di Anton Francesco Doni): i
manoscritti d’imprese</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.81cm; text-indent: 1.59cm; margin-bottom: 0cm">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.81cm; text-indent: 1.59cm; margin-bottom: 0cm">
Il progetto dell’Università di Bergamo<I> </I> ha per obiettivo lo
studio e la pubblicazione on line degli splendidi manoscritti di
Anton Francesco Doni ed in particolare degli esemplari dedicati al
tema delle imprese. Realizzati per lo più nell'ultimo periodo della
sua produzione letteraria,  dal 1557 al 1562,  gli splendidi volumi
disegnati e composti personalmente da Doni con apparati grafici di
grande raffinatezza, costituiscono un <I>corpus</I> compatto e
omogeneo che non è mai stato indagato nella sua interezza. Le più
recenti proposte interpretative su Doni hanno mostrato come oggi sia
impossibile separare  la produzione letteraria doniana dagli apparati
illustrativi che la componevano, e che particolarmente nei
manoscritti, costituivano percorsi di lettura intrecciati e
alternativi alla sequenzialità proposta dal testo. La straordinaria
competenza grafica di Doni, l’uso intrecciato di immagini e parole,
l’impiego di una grafia originalmente  curata  esige per i
manoscritti doniani la visione diretta, perché anche le gerarchie
grafiche appaiono studiate non solo secondo i tradizionali modi
scrittori del tempo (per esempio nei titoli, incipit ecc.) ma anche
con valenze di potenziamento semantico di ricercata originalità. Il
“poligrafismo” doniano, che si esercita in una varietà di
scritture calligrafiche e d’uso quotidiano spesso in competizione
su una stessa pagina, si risolve spesso in una scrittura di
rappresentanza basata su una raffinatissima rivisitazione su base
italica della mercantesca. L’analisi delle scritture evidenzia
inoltre una loro relazione con  il contenuto testuale che vuole
evidenziare temi e motivi utilizzando valori grafici e sonori delle
parole. Particolarmente interessanti sul versante del rapporto
immagine-testo appaiono i manoscritti con imprese, nei quali Doni
sperimenta con diverse modalità le potenzialità del genere. Su
questi si sono concentrati i contenuti della nostra banca dati a
partire dall’analisi dettagliata del manoscritto de <I>Le imprese
reali</I> (Wellesley (Mass.), Wellesley College Library, The Frances
Plimpton Collection, ms. 897) cui è stato dedicato un particolare
approfondimento e che ha offerto il banco di prova per la messa
appunto di un nostro modello informatico. Doni crea le sue imprese
variando  e giocando con la tradizione precedente e intessendo giochi
intertestuali con le creazioni delle autorità  della letteratura
impresistica del tempo (Giovio, Paradin, Ruscelli ecc.). Questa
prassi creativa dello scrittore ha confermato l’utilità 
dell’adozione di alcune categorie, oltre a quelle tecnico
descrittive, decisive per lo studio delle immagini e dei loro
rapporti con il testo: origine delle immagini simboliche, loro
significati originari e loro trasformazioni, fonti visive e testuali
all’origine delle singole creazioni, analisi dei motti e dei loro
modelli, dati sui personaggi possessori di imprese e loro relazioni
reciproche all’interno del testo ecc.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-right: 0.81cm; margin-bottom: 0cm">
L’ampio spettro di materiali manoscritti e a stampa con cui diventa
indispensabile interrelare ogni singola composizione simbolica ha
dunque pienamente dimostrato l’efficacia del ricorso al sistema
multimediale qui implementato. Le metodologie informatiche
utilizzate,  che privilegiano standard (XML, XML/TEI Iconclass) sono
in linea con le direttive europee contro l’obsolescenza dei dati
informatici e l’intercambio dei dati. 
</P>
  ]
end
%>
