<%=
    boxview_widget 'Introduzione', {:class => 'introduzione widget_draggable'} do |w| 
        w.content %[ 

<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
Negli
anni
del
Principato
mediceo,
quando
il
mecenatismo
granducale
commissiona
le
sfilate
e
tiene
geloso
conto
della
documentazione
relativa,
il
corredo
iconografico
connesso
ai
carri
allegorici
dei
Trionfi
di
Carnasciale
trova
una
testimonianza
tanto
abbondante
quanto
artisticamente
eccellente
nei
disegni
preparatori
per
la
<I>Mascherata</I><I>
</I><I>della</I><I>
</I><I>Genealogia</I><I>
</I><I>degli</I><I>
</I><I>Dei</I>
che
sfilò
per
le
strade
di
Firenze
il
21
febbraio
1566,
nel
contesto
dei
grandiosi
festeggiamenti
organizzati
dal
Duca
Cosimo
per
il
matrimonio
di
Francesco
de’
Medici
con
Giovanna
d’Austria,
alla
preparazione
dei
quali
parteciparono
tutti
i
principali
letterati
e
artisti
della
città.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
I
disegni
relativi
ai
21
carri
delle
divinità
ed
ai
costumi
dei
265
personaggi
che
sfilarono
al
loro
séguito
sono
conservati
in
tre
distinte
serie
di
documenti
presso
la
Biblioteca
Nazionale
Centrale
di
Firenze
e
la
Galleria
degli
Uffizi.
La
prima
custodisce,
nel
manoscritto
Palatino
C.B.III.53/1,
quelli
che
gli
storici
dell’arte
concordano
nel
ritenere
i
disegni
preparatori
originali:
16
per
i
carri
e
132
per
i
costumi,
attribuiti
(anche
sulla
base
di
documenti
d’archivio)
alla
mano
di
Alessandro
Allori
e
collaboratori.
Due
serie
ricavate
da
questa
– di
qualità
variamente
inferiore
all’originale,
ma
alquanto
utili
ad
integrarne
le
lacune
– sono
conservate
nel
manoscritto
II.I.142
della
medesima
BNCF
e
nei
disegni
di
figura
numeri
2667-2945
raccolti
in
due
volumi
del
Gabinetto
Disegni
e
Stampe
degli
Uffizi.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
In
sinergia
con
le
tre
serie
di
disegni,
la
ricostruzione
della
sfilata
è
assistita
da
due
coeve
descrizioni
a
stampa,
esemplari
rappresentanti
di
un
frequentato
sottogenere
accademico:
il
minuzioso
<I>Discorso</I><I>
</I><I>sopra</I><I>
</I><I>la</I><I>
</I><I>Mascherata</I><I>
</I><I>della</I><I>
</I><I>Geneologia</I><I>
</I><I>degl</I><I>’</I><I>Iddei</I><I>
</I><I>de</I><I>’
</I><I>Gentili</I>
di
Baccio
Baldini
(Firenze,
Giunti,
1565)
ed
la
sezione
conclusiva
della
<I>Descrizione</I>
dell’intero
complesso
dei
festeggiamenti
per
le
nozze
(iniziati
con
l’apparato
per
l’entrata
trionfale
di
Giovanna
in
città
nel
dicembre
1565)
stampata
nel
1568
in
appendice
all’edizione
giuntina
delle
<I>Vite</I>
del
Vasari
(III.2,
pp.
882-979:
950-977),
ma
da
assegnarsi
alla
penna
di
Giovan
Battista
Cini.

</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
La
recente
attribuzione
del
programma
iconografico
proprio
a
Baccio
Baldini
(invece
che
al
Borghini,
come
spesso
si
è
detto)
ottiene
significative
conferme
proprio
dai
disegni
dell’Allori,
che
riportano
quasi
sempre
alcune
righe
manoscritte
di
requisiti
richiesti
al
costume
(tipologia,
colori,
oggetti
ed
altri
attributi
del
personaggio)
corrispondenti
quasi
alla
lettera
col
<I>Discorso</I>
a
stampa:
non
di
rado,
infatti,
l’unica
differenza
fra
testo
manoscritto
e
testo
a
stampa
è
l’uso
del
congiuntivo
presente,
progettuale,
nei
figurini
(«vi
sia»,
«abbia»,
etc.)
contro
quello
dell’imperfetto
indicativo,
<I>a</I><I>
</I><I>posteriori</I>,
nella
descrizione
poi
pubblicata
(«vi
era»,
«avea»,
etc.).

</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
La
connessione
tra
istruzioni
e
<I>Discorso</I><I>
</I>è
tanto
eclatante
da
autorizzare
la
correlazione
delle
immagini
e
dei
loro
attributi
iconologici
alle
numerose
fonti
mitografiche
additate
dal
Baldini.
Un
raffronto
sistematico
coi
repertori
iconografici
del
medio
Cinquecento
dimostra
che
Boccaccio,
Esiodo,
Virgilio,
Servio,
Ovidio,
Plinio,
Stazio,
Claudiano,
Macrobio,
Cornuto,
Pausania,
Igino,
Orapollo,
Agostino,
Aulo
Gellio
e
le
decine
di
altri
autori
citati
dall’erudito
ispirarono
le
soluzioni
iconografiche
del
1566
per
vie
dirette,
e
non
furono
attinti
di
seconda
mano
dai
manuali,
come
un’autorevole
tradizione
critica
ha
invece
sostenuto
fino
a
ieri.
La
dialettica
che
così
si
instaura
tra
i
testi
(delle
note
manoscritte,
dei
resoconti
accademici,
delle
fonti
letterarie)
e
le
immagini
(i
disegni
del
Palatino,
talvolta
provvidi
di
integrazioni
inedite)
permette
di
imperniare
sui
bozzetti
del
ms.
Pal.
C.B.III.53/1
l’allestimento
di
un
repertorio
di
primario
interesse
per
lo
studio
dell’iconografia
mitologica
e
allegorica
del
Rinascimento,
nonché
di
ricostruire
nel
dettaglio
un
episodio
epocale
nella
tradizione
secolare
dei
Trionfi
carnascialeschi.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
L’archivio
digitale
<I>Mascherata</I><I>
</I>si
fonda
sulla
descrizione
analitica
dei
diversi
soggetti
raffigurati
nei
disegni
del
manoscritto
Palatino
e
sulla
loro
connessione
coi
testi
delle
postille
manoscritte,
delle
due
descrizioni
coeve
(il
<I>Discorso</I>
di
Baccio
Baldini
e
la
<I>Descrizione</I>
di
Giovan
Battista
Cini)
e
con
le
fonti
letterarie
e
storico-antiquarie
individuate.
Un
tale
ramificato
ipertesto
può
esser
fatto
rampollare
in
special
modo
innestando
sulle
immagini
il
resoconto-commento
del
Baldini,
sempre
perfettamente
informato
e
indefessamente
minuzioso
nell’esplicare
e
commentare
per
il
lettore
le
<I>auctoritates</I>
legittimanti
che
sostanziano
le
scelte
iconologiche
dell’«Autore»
della
<I>Mascherata</I>.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
Ogni
disegno
del
manoscritto
viene
corredato
di
una
descrizione
analitica,
di
note
di
studio
intese
a
chiarirne
aspetti
problematici
e
peculiarità
iconografiche,
di
rimandi
alle
fonti
e
ai
riscontri,
di
liste
di
parole
chiave
e
di
codici
iconografici
(Iconclass),
nonché
delle
trascrizioni
diplomatiche
di
tutte
le
annotazioni
manoscritte.
Queste
ultime
costellano
la
massima
parte
dei
figurini
dell’Allori
ed
assolvono
a
diverse
funzioni,
a
seconda
della
mano
che
le
verga:
quelle
che
solitamente
occupano
uno
degli
angoli
alti
del
foglio
delineano
le
caratteristiche
principali
di
vesti,
acconciature
ed
attributi
del
personaggio
mitologico
in
oggetto;
attorno
alle
figure
disegnate,
si
associano
poi
altri
appunti
più
brevi,
alcuni
che
specificano
gli
oggetti,
i
materiali
e
i
colori
richiesti,
altri
(di
una
mano
più
rozza,
di
matrice
mercantesca,
attribuibile
al
sarto)
che
registrano
i
progressi
nella
produzione
dei
vari
elementi.

</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
La
stretta
parentela
testuale
fra
le
istruzioni
manoscritte
principali
e
le
descrizioni
del
<I>Discorso</I>
del
Baldini
individua
un
piano
di
transizione
fra
la
<I>Mascherata</I>
dei
disegni
e
quella
della
descrizione
a
stampa,
sul
quale
è
possibile
proiettare
una
più
dettagliata
ricostruzione
del
programma
dell’iconografo
accademico.
Allo
scopo
di
integrare
efficacemente
il
testo
dei
resoconti
nell’archivio
digitale,
i
brani
di
Baldini
e
di
Cini
relativi
a
ciascuna
immagine
sono
trascritti,
marcati
e
indicizzati
con
linguaggio
XML,
nonché
correlati
alla
corrispondente
scheda
descrittiva:
due
appositi
link
possono
aprire
al
suo
fianco,
per
facilitare
il
confronto
col
disegno
descritto,
le
schede
di
testo
pertinenti
dal
<I>Discorso</I>
o
dalla
<I>Descrizione</I>.
Le
prime,
in
particolare,
sono
corredate
dall’indicazione
delle
coordinate
testuali
moderne
delle
fonti
menzionate,
tutte
riscontrate
nel
corso
della
schedatura.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
Numerosi
<I>Indici</I>
permettono
di
accedere
alle
schede
secondo
diverse
modalità:
in
base
alla
sequenza
delle
carte
del
manoscritto;
o
all’ordine
della
sfilata
ricostruito
sulla
documentazione
grafica
e
descrittiva,
organizzato
per
carri
e
relativi
cortei;
oppure
secondo
il
nome
dei
personaggi;
o
gli
attributi-chiave
indicizzati
nella
scheda
di
studio
(componenti);
o
i
codici
Iconclass;
o,
infine,
le
fonti
testuali
individuate.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
Le immagini vengono
trattate con un sistema di mappatura grafica per racchiuderne in
poligoni le porzioni salienti (soprattutto le annotazioni manoscritte
e gli attributi iconografici di personaggi e carri): all’interno
delle schede, i campi di testo con le trascrizioni e gli elenchi di
componenti iconici sono collegati alle porzioni pertinenti in modo
che il passaggio del mouse sull’immagine o sui testi li evidenzi
graficamente entrambi, rendendo più immediati e dinamici la
presentazione e lo studio dei dati.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
La
sinergia
fra
testi
e
immagini
è
perciò
in
grado
di
generare
una
ricostruzione
virtuale
del
percorso
dialettico
di
invenzione
e
realizzazione
del
grandioso
progetto
iconografico
della
<I>Mascherata</I><I>
</I><I>degli</I><I>
</I><I>Dei</I>
del
Carnevale
1566.</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
Luca Degl’Innocenti</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 1.25cm; margin-bottom: 0cm; line-height: 150%">
<BR>
</P>



 
]+ "<p>" +boxview_link(url_for(:controller => "boxview/pagine_statiche/fi_crediti"), "Crediti", "Crediti", "fi_crediti", 'intro') + "</p>"
    end
%>
