<%=
    boxview_widget 'Introduzione', {:class => 'introduzione widget_draggable'} do |w| 
        w.content %[

<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm">Crediti</P>

<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><I>Supporto tecnico</I>:</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><a href="http://www.netseven.it" target="_blank">Net7 S.r.l.</a></P>


        ]
    end
%>
