<%=
    boxview_widget 'Introduzione', {:class => 'introduzione widget_draggable'} do |w| 
        w.content %[
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0.35cm">L’<I>ars
memoriae</I>, ossia la tecnica di collocare immagini associabili ai
nostri ricordi in luoghi mentali funzionalmente edificati, ha
conosciuto numerose trasfigurazioni nel corso della sua millenaria
tradizione testuale, ma è venendo a contatto – in forte attrito o
fertile intersezione – col profondo sincretismo della cultura
rinascimentale, e con le grandi questioni filosofiche, religiose e
artistiche che ne caratterizzarono la società, che essa ha raggiunto
il suo maggior grado di complessità e profondità. Numerose sono le
testimonianze manoscritte di questa fortunata esperienza culturale,
testimonianze che, nei casi più interessanti, non si limitano a
trasmettere in modo ripetitivo le regole classiche dell’<I>ars
memoriae</I>, ma offrono di queste chiare esemplificazioni nonché
utili visualizzazioni, costruite esse stesse secondo i principi
compositivi delle <I>imagines agentes</I><SPAN LANG="fr-FR">. In
questi casi dunque </SPAN>il nesso parola-immagine, strutturale per
il funzionamento dell’<I>ars memoriae</I>, agisce su un duplice
piano operativo, da una parte garantendo un’efficace illustrazione
delle regole proposte, dall’altra dimostrando <I>in progress</I> il
funzionamento di queste ultime. Un caso paradigmatico da questo punto
di vista è rappresentato da un anonimo manoscritto in volgare
italiano su «l’artifitial memoria», risalente alla seconda metà
del XV secolo e tuttora conservato presso la biblioteca parigina di
Sainte Geneviève (Ms. 3368). Il singolare apparato di illustrazioni
che correda questo trattato ne fa un <I>unicum</I> all’interno
della tradizione testuale dell’<I>ars memoriae</I>. Lo studio di
questo prezioso esemplare ci ha consentito di analizzare nel
dettaglio gli schemi che regolano l’organizzazione e il
funzionamento delle tavole, nonché le relazioni che si stabiliscono
tra il testo e le immagini; e la sua codifica ha inteso riattivarne
pienamente il senso e la complessità attraverso la cornice e le
strutture di un archivio digitale.</P>

        ] + "<p>" +boxview_link(url_for(:controller => "boxview/pagine_statiche/pi_crediti"), "Crediti", "Crediti", "pi_crediti", 'intro') + "</p>"
    end
%>
