<%=
    boxview_widget 'Criteri di trascrizione', {:class => 'introduzione widget_draggable'} do |w| 
        w.content %[ 
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%">Criteri
di trascrizione
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%"><BR>
</P>
<P CLASS="western" STYLE="text-indent: 0cm; margin-bottom: 0cm; line-height: 100%">
Scartata l’ipotesi di una
trascrizione diplomatica, si è deciso di proporre i testi in una
formula ispirata a criteri conservativi, con l’obiettivo di
garantire la fruibilità dell’edizione preservando però la fedeltà
alla lettera degli originali autografi. Si sono pertanto rispettati
tutti gli usi grafici adottati da Aretino, compresa l’oscillazione
maiuscole/minuscole a inizio di parola. Allo stesso modo, si è
cercato di mantenere ovunque la punteggiatura originale,
introducendo, come di regola, la moderna marcatura del discorso
diretto e normalizzando alcuni passaggi in cui l’asistematicità
della pratica interpuntiva aretiniana poteva generare fraintendimenti
del testo; si è così conservata la virgola prima del <I>che</I>
(pronome relativo e congiunzione) e prima della congiunzione <I>e</I>/<I>et</I>
(si è introdotta però la virgola al posto del punto mobile
impiegato da Aretino nei lunghi polisindeti prima della nota
tironiana <I>et</I>).
Di seguito, invece, i principali interventi di ammodernamento: 
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%">-
separazione delle parole; trascritte disgiunte le forme <I>imparadiso</I>
&gt; <I>in paradiso</I>
(lett. del 6/4/1546 a Cosimo I de’ Medici), <I>impredicare</I>
&gt; <I>in predicare</I>,
<I>impalazzo</I>
&gt; <I>in palazzo</I>
(lett. del 27/12/1524 a Federico II Gonzaga), <I>impegno</I>
&gt; <I>in pegno</I>
(lett. s. d., fine 1529, a Federico II Gonzaga) e la forma <I>affine</I>
&gt; <I>a fine </I>(lett.
del 20/4/1530 a Federico II Gonzaga);</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%">-
distinzione di <I>u</I>/<I>v</I>;</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%">-
riduzione a -<I>i</I>
dell’alternanza -<I>i</I>/-<I>j</I>;</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%">-
normalizzazione dei diacritici;</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%">-
scioglimento delle abbreviazioni (escluse quelle relative alle
formule di riguardo);</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%">-
scioglimento della nota tironiana in <I>et</I>;</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%">Sono
state introdotte le parentesi quadre per segnalare le proposte di
integrazione.</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 100%">I
testi ricavati dalle <I>Lettere</I>
di Pietro Aretino sono riprodotti dall’edizione critica curata da
Paolo Procaccioli (Roma, Salerno Editrice, 6 voll., 1997-2002).</P>
]
    end
%>
