<%=
    boxview_widget 'Introduzione', {:class => 'introduzione widget_draggable'} do |w| 
        w.content %[

<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm">Crediti</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><I>Progetto di ricerca
e coordinamento scientifico</I>:</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Paolo Procaccioli,
Paolo Marini</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><I>Progettazione del
database</I>:</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Paolo Marini, Federica
Pich, Serena Pezzini, Andrea Torre</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><I>Redazione e
marcatura dei testi</I>:</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Giuseppe Crimi, Paolo
Marini, Emilio Russo</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><I>Bibliografia</I>:</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Paolo Marini</P>

<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><I>Supporto tecnico</I>:</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><a href="http://www.netseven.it" target="_blank">Net7 S.r.l.</a></P>


        ]
    end
%>
