<%=
    boxview_widget 'Introduzione', {:class => 'introduzione widget_draggable'} do |w| 
        w.content %[

<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm">Gli
esemplari manoscritti e a stampa digitalizzati sono di proprietà
delle istituzioni appresso indicate:</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Cosenza, Biblioteca
Civica</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Firenze, Archivio di
Stato<SUP><A CLASS="sdfootnoteanc" NAME="sdfootnote1anc" onclick="return false;" HREF="#sdfootnote1sym"><SUP>1</SUP></A></SUP></P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Mantova, Archivio di
Stato<SUP><A CLASS="sdfootnoteanc" NAME="sdfootnote2anc" onclick="return false;" HREF="#sdfootnote2sym"><SUP>2</SUP></A></SUP></P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Modena, Biblioteca
Estense universitaria</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Paris, Institut
Néerlandais, Fondation Custodia</P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Pieve di Cadore (BL),
Archivio Antico della Magnifica Comunità di Cadore<SUP><A CLASS="sdfootnoteanc" NAME="sdfootnote3anc" onclick="return false;" HREF="#sdfootnote3sym"><SUP>3</SUP></A></SUP></P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0cm">Venezia, Biblioteca
nazionale Marciana<SUP><A CLASS="sdfootnoteanc" NAME="sdfootnote4anc" onclick="return false;" HREF="#sdfootnote4sym"><SUP>4</SUP></A></SUP></P>
<P CLASS="western" STYLE="margin-bottom: 0cm"><BR>
</P>
<DIV ID="sdfootnote1">
	<P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote1sym" onclick="return false;" HREF="#sdfootnote1anc">1</A><FONT SIZE=2>
	Su concessione del Ministero per i Beni e le Attività Culturali. È
	vietata ogni ulteriore riproduzione o duplicazione.</FONT></P>
</DIV>
<DIV ID="sdfootnote2">
	<P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote2sym" onclick="return false;" HREF="#sdfootnote2anc">2</A><FONT SIZE=2>
	Concessione n. 41/2010.</FONT></P>
</DIV>
<DIV ID="sdfootnote3">
	<P CLASS="sdfootnote-western"><A CLASS="sdfootnotesym" NAME="sdfootnote3sym" onclick="return false;" HREF="#sdfootnote3anc">3</A><FONT SIZE=2>
	Riproduzione su concessione della Magnifica Comunità di Cadore.</FONT></P>
</DIV>
<DIV ID="sdfootnote4">
	<P CLASS="sdfootnote-western" ALIGN=JUSTIFY><A CLASS="sdfootnotesym" NAME="sdfootnote4sym" onclick="return false;" HREF="#sdfootnote4anc">4</A><FONT SIZE=2>
	Su concessione del Ministero per i Beni e le Attività Culturali -
	Biblioteca Nazionale Marciana. Divieto di riproduzione.</FONT></P>
</DIV>

        ]
    end
%>
