<%= boxview_widget 'Informazioni tecniche', {:class => 'TextWidget widget_draggable'} do |w|
  if @resource.anastatica
    w.right_icons boxview_link_for_object(@resource.anastatica, :title => 'Anastatica'), :class => 'anastatica'
  end

  unless @letter.data_records.blank?
    w.right_icons link_to("Apparato critico: scarica PDF", url_for_data_record(@letter.data_records.first), {:title => "Apparato Critico"}), :class => 'pdf'
  end

  unless @letter.printed_cards.blank?
    w.right_icons boxview_link_for_object(@letter.printed_cards.first, :url => vt_printed_text_card_url(@letter.printed_cards.first.id)),
                  :class => 'print'
  end

  if @resource.previous_card
    w.right_icons boxview_link_for_object(@resource.previous_card, :url => critic_vt_handwritten_text_card_url(@resource.previous_card.id)), :class => 'prev'
  end

  if @resource.next_card
    w.right_icons boxview_link_for_object(@resource.next_card, :url => critic_vt_handwritten_text_card_url(@resource.next_card.id)), :class => 'next'
  end

  w.content boxview_widget_field('Segnatura', @resource.signature)                        unless @resource.signature.blank?
  w.content boxview_widget_field('Misure', @resource.measure)                             unless @resource.measure.blank?
  w.content boxview_widget_field('Filigrana', @resource.watermark)                        unless @resource.watermark.blank?
  w.content boxview_widget_field('Cartulazione', @resource.cartulation)                   unless @resource.cartulation.blank?
  w.content boxview_widget_field('Altre note manoscritte', @resource.technical_notes)     unless @resource.technical_notes.blank?
  w.content boxview_widget_field('Stato di conservazione', @resource.conservation_status) unless @resource.conservation_status.blank?
  w.content boxview_widget_field('Autografia', @resource.autography)                      unless @resource.autography.blank?
  w.content boxview_widget_field('Data', @resource.date)                                  unless @resource.date.blank?

end
%>

<%= render :partial => '/boxview/shared/widget_trascrizione_fenomeni_note', 
		:locals => {:resource => @resource, :fenomeni => @fenomeni, :notes => @notes, :content => @content,
			 		:widget_title => "Trascrizione Critica"} 
%>

<%= boxview_widget 'Studio', {:class => 'TextWidget widget_draggable'} do |w|
	content = ''
	inner_content = ''
	last_type = @lex_art.first[:item_type]
	@lex_art.uniq.each do |item| 
  if (last_type != item[:item_type])
			content += boxview_widget_field(last_type, content_tag(:ul, inner_content))
			inner_content = ''
			last_type = item[:item_type]
		end
		inner_content += "<li class='lessico' about='#{item[:class]}'>#{item[:name]}</li>"
	end
	w.content content
end
%>

<%=
    unless @bibl.nil?
	 	boxview_widget 'Bibliografia', {:class => 'studio widget_draggable'} do |w| 
			content = ''
			@bibl.each{ |item| content += "<li>#{item}</li>" }
		  	w.content boxview_widget_field('Fonti', content_tag(:ul, content))
		end
    end
%>
