<% my.each do |bm| %>
    <h3>Notebook -NOMENOTEBOOK-, data <%= bm['date'] %></h3>
    <div>
        <ul>
            <input type='hidden' class='newbm_qstring'>
            <li><textarea cols='50' rows='5' class='newbm_note'><%= bm['note'] %></textarea></li>
            <li><span class='newbm_save'>Salva</span></li>
        </ul>
    </div>
<% end %>