<div class='widget'>

    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>I miei notebook</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    	</div>
    </div>
    <div class='widgetContent'>
        <%= render :partial => '/bookmark/notebook_and_bookmarks.html', :object => my %>
    </div>

    <div class='widgetHeader'>
        <h3 class='widgetHeaderTitle'>Altri notebook</h3>
        <div class='widgetHeaderTools'>
            <p class='collapse'><a class='expanded' href='#' title='Collapse'>Collapse</a></p>
    	</div>
    </div>
    <div class='widgetContent'>
        <%= render :partial => '/bookmark/notebook_and_bookmarks.html', :object => subscribed %>
    </div>


</div>