<%= render :partial => '/boxview/shared/widget_trascrizione_fenomeni_note', 
		:locals => {:resource => @resource, :fenomeni => @fenomeni, :notes => @notes, :content => @content, :widget_title => "Trascrizione", :show_anastatica => true } 
%>

<%=
    boxview_widget 'Parafrasi', {:class => 'parafrasi widget_draggable'} do |w| 
        w.content content_tag(:div, @resource.parafrasi.gsub("\r\n",'<br/>'))
    end unless @resource.parafrasi.nil?
%>

<%= render :partial => '/boxview/shared/widget_notes', :locals => {:notes => @notes } %>


<%
    img_mem = ''
    unless (@non_ill_md.empty?)
        foo = ''
        @non_ill_md.each do |md|
            foo += "(#{md.depiction_type}) #{md.short_description} <br/>"
        end
        img_mem << boxview_widget_field('Immagini di memoria non illustrate', foo)
    end

    unless (@ill_md.empty?)
        foo = ''
        @ill_md.each do |md|
            this_phen = @fenomeni.select{ |f| f[:name] == md.short_description }.first
            link = boxview_link_for_object(md, {:link_id => "ill_md_#{md.id}"})
            foo << %[
                <span class='ill_md' about="#{this_phen[:class]}">#{link}</span>
            ] unless this_phen.nil?
            
        end 
        img_mem << boxview_widget_field('Immagini di memoria illustrate', foo) unless foo.empty?
    end
%>

<%=
    if (img_mem != '')
        boxview_widget 'Immagini di memoria', {:class => 'immagini_memoria widget_draggable'} do |w|
            w.content content_tag(:div, "<ul>#{img_mem}</ul>")
        end
    end
%>
