<% 
    notes = ''
    num = 0
    @notes.each do |n|
        num = num+1
        notes << %[
            <div class="note closed" id="note_#{n[:class]}">
                <p class="open">
                    #{n[:name]}<br>
                    #{n[:content]}
                </p>
                <p class="closed">#{n[:name]}</p>
            </div>
            <script type="text/javascript">
                // Add the link after the last span of this class 
                $('.#{n[:class]}:last').after('<span class="note_link" id="note_link_#{n[:class]}"><a class="transcription_open_icon"></a></span>');

                // Click on a note in the notes column highlights the linked note
                $('#note_#{n[:class]}').click(function(){
                    var b = $(this).parents('div.box');
                    b.find('div.note.open, #note_#{n[:class]}').toggleClass('open closed');
                    b.find('.highlighted, .#{n[:class]}').toggleClass('highlighted');
                    reposition_notes(b.attr('id'));
                });

                // Note link in the text: click opens the notes column
                // and open the linked note; mouse over/out: highlights 
                // the linked text portion
                $('#note_link_#{n[:class]}').click(function() {
                    var b = $(this).parents('div.box');
                    if (b.find('div.widgetContent').hasClass('notes-hidden')) 
                        $("#mostra_note_trascrizione_#{@resource.id}").click();
                    
                    // keep the note open clicking on the note link
                    b.find('div.note.open').toggleClass('open closed');
                    b.find('#note_#{n[:class]}').addClass('open').removeClass('closed');
                    b.find('.highlighted').removeClass('highlighted');
                    b.find('.#{n[:class]}').addClass('highlighted');
                    reposition_notes(b.attr('id'));
                    
                });
                /*
                .mouseover(function() {
                    $(this).parents('div.box').find('.#{n[:class]}').addClass('highlighted');
                }).mouseout(function() {
                    if ($('#note_#{n[:class]}').hasClass('closed'))
                        $(this).parents('div.box').find('.#{n[:class]}').removeClass('highlighted');
                });
                */
                
            </script>
            ]
    end

    fenomeni = "<div class='fen_menu_panel hidden'><ul>"
    last_type = ''
    @fenomeni.each do |f|
        
        if (last_type != f[:item_type])
            fenomeni += "</ul></li>" unless (last_type == '') 
            fenomeni << %[
                    <li class='phen_section' about='#{f[:fen_class]}'>#{f[:item_type]}</li>
                    <li><ul>
                ]
            last_type = f[:item_type]
        end
        fenomeni << %[
                <li class='phen_item' about='#{f[:class]}'>#{f[:name]}</li>
            ]
    end
    fenomeni += "</ul></li></ul></div>"

    transcription_content = %[
        <div class='transcription_text'>
            #{fenomeni}
            #{@content}
        </div>
        <div class="transcription_notes">
            <a class="transcription_close_icon" id="close_notes_#{@resource.id}">CHIUDI</a>
            <div class="transcription_notes_content">
                #{notes}
            </div>
        </div>
    ]

%>

<%= 
    boxview_widget 'Trascrizione', {:class => 'transcription widget_draggable'} do |w|

        mostra_note = content_tag(:a, 'Note', :class => "note", :href => "#", :id => "mostra_note_trascrizione_#{@resource.id}", :title => 'Mostra le note')
        mostra_fenomeni = content_tag(:a, 'Fenomeni', :href => "#", :id => "mostra_fenomeni_#{@resource.id}", :title => 'Mostra i fenomeni')
        mostra_fenomeni << %[
            <script type="text/javascript">
            $("#mostra_note_trascrizione_#{@resource.id}, #close_notes_#{@resource.id}").click(function(e) {
                e.preventDefault();
                var w = $(this).parents('div.widget'), 
                    wc = w.find('div.widgetContent'),
                    bo = $(this).parents('div.box'),
                    h;
                wc.toggleClass('notes-hidden notes-displayed');
                if (wc.hasClass('notes-displayed')) {
                    // Set the notes column height
                    h = w.find('div.widgetContent div.transcription_text').height();
                    w.find('div.widgetContent div.transcription_notes_content').height(h);
                    // Close all the open notes
                    wc.find('div.note.open').toggleClass('open closed');
                    
                } else {
                    // Remove any highlight, close open notes
                    bo.find('.highlighted').toggleClass('highlighted');
                    wc.find('div.note.open').toggleClass('open closed');
                }
                reposition_notes(bo.attr('id'));
                return false;
            });

            $("#mostra_fenomeni_#{@resource.id}").click(function(e) {
                e.preventDefault();
                $(this).parents('div.box').find('div.fen_menu_panel').toggleClass('hidden');
                return false;
            });
            </script>]

        w.right_icons mostra_note, {:class =>'note'}
        w.right_icons mostra_fenomeni, {:class => 'fenomeni'}
        w.right_icons boxview_link_for_object(@resource.anastatica), {:class => 'anastatica'}
        w.content content_tag(:div, transcription_content, :id => "trascrizione_#{@resource.id}"), 'notes-hidden'
    end 
%>

<%=
    boxview_widget 'Parafrasi', {:class => 'parafrasi widget_draggable'} do |w| 
        w.content content_tag(:div, @resource.parafrasi)
    end
%>

<%
    notes_w = ''
    @notes.each do |n|
        notes_w << %[
            <div class="note closed" id="note_#{n[:class]}">
                <p class="open">
                    #{n[:name]}<br>
                    #{n[:content]}
                </p>
                <p class="closed">#{n[:name]}</p>
            </div>
        ]
    end

%>

<%= 
    boxview_widget 'Note', {:class => 'notes widget_draggable'} do |w| 
        w.content content_tag(:div, notes_w)
    end
%>


<%
    img_mem = ''
    unless (@non_ill_md.empty?)
        foo = ''
        @non_ill_md.each do |md|
            foo += "(#{md.depiction_type}) #{md.short_description} <br/>"
        end
        img_mem << boxview_widget_field('Immagini di memoria non illustrate', foo)
    end

    unless (@ill_md.empty?)
        foo = ''
        @ill_md.each do |md|
            this_phen = @fenomeni.select{ |f| f[:name] == md.short_description }.first
            link = boxview_link_for_object(md, {:link_id => "ill_md_#{md.id}"})
            foo << %[
                <span class='ill_md' about="#{this_phen[:class]}">#{link}</span>
            ] 
            
        end 
        img_mem << boxview_widget_field('Immagini di memoria illustrate', foo)
    end
%>

<%=
    if (img_mem != '')
        boxview_widget 'Immagini di memoria', {:class => 'immagini_memoria widget_draggable'} do |w|
            w.content content_tag(:div, "<ul>#{img_mem}</ul>")
        end
    end
%>