<% 
    notes = ''
    @notes.each do |n|
        notes << %[
            <div class="note closed" id="note_#{n[:class]}">
                <p class="open">
                    #{n[:name]}<br>
                    #{n[:content]}
                </p>
                <p class="closed">#{n[:name]}</p>
            </div>
            <script type="text/javascript">
                $('#note_#{n[:class]}').click(function(){
                    $(this).parents('div.box').find('div.note.open, #note_#{n[:class]}').toggleClass('open closed');
                    $(this).parents('div.box').find('.highlighted, .#{n[:class]}').toggleClass('highlighted');
                });
            </script>
            ]
    end

    transcription_content = %[
        <div class='transcription_text'>
            #{@content}
        </div>
        <div class="transcription_notes">
            <a class="transcription_close_icon">CHIUDI</a>
            <div class="transcription_notes_content">
                #{notes}
            </div>
        </div>
        
        <script type="text/javascript">
            function reposition_notes(id) {
                $('#'+id+' div.transcription_notes_content div.note').each(function(i, e){
                    var note_id = $(e).attr('id'),
                        class = note_id.substr(5),
                        top = $('#'+id+' .'+class+':first').offset().top;
                    $(this).offset({top: top});
                });
            }
        </script>
        ]

%>

<%= 
    boxview_widget 'Trascrizione', 'transcription' do |w|

        right_icons = content_tag(:a, 'Note', :href => "#", :id => "mostra_note_trascrizione_#{@resource.id}", :title => 'Mostra le note')
        right_icons << %[
            <script type="text/javascript">
            $("#mostra_note_trascrizione_#{@resource.id}").click(function(e) {
                e.preventDefault();
                var w = $(this).parents('div.widget'), 
                    wc = w.find('div.widgetContent'),
                    bo = $(this).parents('div.box'),
                    h;
                wc.toggleClass('notes-hidden notes-displayed');
                if (wc.hasClass('notes-displayed')) {
                    // Set the notes column height
                    h = w.find('div.widgetContent div.transcription_text').height();
                    w.find('div.widgetContent div.transcription_notes_content').height(h);
                    reposition_notes(bo.attr('id'));
                    // Close all the open notes
                    wc.find('div.note.open').toggleClass('open closed');
                    
                } else {
                    // Remove any highlight
                    bo.find('.highlighted').toggleClass('highlighted');
                }
                return false;
            });
            </script>]

        w.right_icons right_icons
        w.content content_tag(:div, transcription_content, :id => "trascrizione_#{@resource.id}"), 'notes-hidden'
    end 
%>
