<% imt_id = "imt_illustrazione_madre_#{@resource.id}" %>
<% anastatica_title = "#{@resource.anastatica.title}, #{@resource.anastatica.page_position}" %>
<%= boxview_widget 'Illustrazione', :class => "ImageWidget widget_draggable" do |w|
  content = render :partial => '/boxview/shared/imageviewer', 
           :locals => {:id => imt_id, 
                       :base64 => image_xml(@image),
                       :js_prefix => 'jsapi'}

  w.right_icons boxview_link(boxview_anastatica_url(@resource.anastatica.id), 
                             'Anastatica', 
                             anastatica_title, 
                             @resource.anastatica.id,
                             :image)

  w.content content_tag(:div, content, :class => 'picture')
end %>

<%= boxview_widget 'Scheda', :class => "TextWidget widget_draggable" do |w|
  w.content boxview_widget_field('Codice', @resource.code)
  w.content boxview_widget_field('Collocazione', @resource.collocation)
  unless @resource.tecnique.blank? and @resource.measure.blank?
    w.content boxview_widget_field('Tecnica e misure', "#{@resource.tecnique} - #{@resource.measure}")
  end
  w.content boxview_widget_field('Posizione', @resource.position)
  w.content boxview_widget_field('Note descrittive', @resource.descriptive_notes)
end %>

<%= boxview_widget 'Studio', :class => "TextWidget widget_draggable" do |w|
  w.content boxview_widget_field('Descrizione', @resource.description)

  unless @resource.textual_source.size.zero?
    sources = content_tag :ul, (@resource.textual_source.map do |source|
      content_tag :li, boxview_link(boxview_pi_scheda_testo_url(source.id), source.anastatica.page_position, source.anastatica.page_position, source.id, :transcription)
    end.join(''))

    w.content boxview_widget_field('Fonti testuali', sources)
  end

  unless @resource.children.size.zero?
    # TODO: order by appearence in text.
    # SEE: ticket #216.
    children = content_tag :ul, (@resource.children.map do |child|
      title = child.short_description || child.name
      content_tag :li, boxview_link(boxview_illustrazione_figlia_url(child.id), title, title, child.id, :image)
    end.join(''))
    w.content boxview_widget_field('Immagini di memoria', children)

    contents = []
    @resource.children_components_by_type.each do |type, components|
      components.each do |component|
        contents << imt_highlight(imt_id, "#{component.name} (#{type.to_s})", component.image_zone.id)
      end
    end

    w.content boxview_widget_field('Componenti immagini di memoria', contents.join(', ')) unless contents.size.zero?
  end

  unless @resource.iconclasses.size.zero?
    iconclasses = @resource.iconclasses.map! do |iconclass|
      %[<a href='http://www.iconclass.org/#{iconclass.name}/'>#{iconclass.name}</a>: #{iconclass.pref_label}]
    end
    w.content boxview_widget_field('Codici iconclass', iconclasses.join(', '))
  end

  w.content boxview_widget_field('Note di studio', @resource.study_notes)
end %>

<% unless @resource.bibliography_items.size.zero? %>
<%= boxview_widget 'Bibliografia', :class => "TextWidget widget_draggable" do |w|
  w.content(content_tag :ul, (@resource.bibliography_items.map do |item|
      content_tag :li, %[#{item.bibliography_item.name} #{item.name}]
    end.join('')))
end %>
<% end %>
