<% imt_id = "imt_illustrazione_figlia_#{@resource.id}" %>
<% scheda_madre = @resource.parent_card.image_zone.get_related_objects.first %>
<% scheda_madre_title = @resource.anastatica.page_position %>

<%= boxview_widget 'Illustrazione', :class => "ImageWidget widget_draggable" do |w|
  content = render :partial => '/boxview/shared/imageviewer',
    :locals => {:id => imt_id,
    :base64 => imt_image_b64(@image, @resource.showable_zones),
    :js_prefix => 'jsapi'}
  w.right_icons boxview_link_for_object(@resource.anastatica), {:class => 'anastatica'}
  w.right_icons boxview_link_for_object(scheda_madre), {:class => 'illustrazione'}
  w.content content_tag(:div, content, :class => 'picture')
end %>


<%= boxview_widget 'Scheda', :class => "TextWidget widget_draggable" do |w|
  w.content boxview_widget_field('Codice', @resource.code)
  w.content boxview_widget_field('Collocazione', @resource.collocation)
  unless @resource.tecnique.blank? and @resource.measure.blank?
    w.content boxview_widget_field('Tecnica e misure', "#{@resource.tecnique} - #{@resource.measure}")
  end
  w.content boxview_widget_field('Posizione', @resource.position)
  w.content boxview_widget_field('Note descrittive', @resource.descriptive_notes)
end %>


<%= boxview_widget 'Studio', :class => "TextWidget widget_draggable" do |w|
  w.content boxview_widget_field('Descrizione', @resource.description)

  #TODO: ordinare in base all'apparizione nel testo!
  unless @resource.image_components.empty?
    components = []
    @resource.image_components.each do |component|
      components << imt_highlight(imt_id, "#{component.name} (#{component.zone_type.to_s})", component.image_zone.id)
    end
    w.content boxview_widget_field('Componenti', components.join(', ')) unless components.size.zero?
  end

  unless @resource.transcription_text.blank?
    if !@resource.textual_source.first.nil?
      content = boxview_link(url_for(:controller => 'boxview/pi_scheda_testo', :action => "show", :id => @resource.textual_source.first.id), @resource.transcription_text, 'Trascrizione', "pi_text_card_#{@resource.textual_source.first.id}", 'transcription')
    else
      content = @resource.transcription_text
    end
    w.content boxview_widget_field('Trascrizione', content)
  end


  unless @resource.iconclass_terms.size.zero?
    iconclasses = @resource.iconclass_terms.to_a.map! do |iconclass|
      %[<a target="_black" href='http://www.iconclass.org/#{iconclass.name}/'>#{iconclass.name}</a>: #{iconclass.pref_label}]
    end
    w.content boxview_widget_field('Codici iconclass', iconclasses.join(', '))
  end

  w.content boxview_widget_field('Note di studio', @resource.study_notes.gsub("\r\n",'<br/>')) unless @resource.study_notes.nil?
end %>

<% unless @resource.bibliography_items.size.zero? %>
  <%= boxview_widget 'Bibliografia', :class => "TextWidget widget_draggable" do |w|
    w.content(content_tag :ul, (@resource.bibliography_items.map do |item|
          content_tag :li, %[#{item.bibliography_item.name} #{item.name}]
        end.join('')))
  end %>
<% end %>

