/* BoxView Default Theme */

/* *********************************** */
/* Box */
/* *********************************** */

/* Generic font used by the boxview */
.boxViewContainer * { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 10pt;
}

/* Bg for the whole boxview */
.boxViewContainer {
	background: #fff;
}

/* Bg for the single box */
.boxViewContainer .box {
	background: #fff;
}

/* Default Colors for Box Header, for both expanded and collapsed status */ 
.boxViewContainer .box .boxHeader,
.boxViewContainer .box.collapsed,
.boxViewContainer .box.collapsed .boxCollapsedContent {
	background-color: #535353;
}

/* Default Colors for Box Content */
.boxViewContainer .box .boxContent {
	background-color: #ededed;
	color: #535353;
}

/* Box header expanded */
.boxViewContainer .box.expanded .boxHeader {
	border-bottom: 1px solid #fff;
}

/* Box header expanded title */
.boxViewContainer .box.expanded .boxHeader .title h3.boxHeaderTitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
}

/* Box content Header collapsed title */
.boxViewContainer .box.collapsed .boxCollapsedContent .verticalContainer p {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
}

/* Box tools and buttons, both for expanded and collapsed status */ 
.boxViewContainer .box.expanded .boxHeader ul li a.collapseTool {
	background-image: url(images/boxes/box_bar_expanded.png);
}
.boxViewContainer .box.collapsed .boxHeader ul li a.collapseTool {
	background-image: url(images/boxes/box_bar_collapsed.png);
}
.boxViewContainer .box.expanded .boxHeader ul li a.removeTool {
	background-image: url(images/boxes/box_bar_close.png);
}
.boxViewContainer .box.collapsed .boxHeader ul li a.removeTool {
	background-image: url(images/boxes/box_bar_close.png);
}
.boxViewContainer .box.expanded .boxHeader ul li a.collapseTool:hover {
	background-image: url(images/boxes/box_bar_expanded_ro.png);
}
.boxViewContainer .box.collapsed .boxHeader ul li a.collapseTool:hover {
	background-image: url(images/boxes/box_bar_collapsed_ro.png);
}
.boxViewContainer .box.expanded .boxHeader ul li a.removeTool:hover {
	background-image: url(images/boxes/box_bar_close_ro.png);
}
.boxViewContainer .box.collapsed .boxHeader ul li a.removeTool:hover {
	background-image: url(images/boxes/box_bar_close_ro.png);
}




/* Classified Boxes (Welcome, Home, History, etc etc ) */
/* History Box */
.boxViewContainer .box.history .boxHeader, 
.boxViewContainer .box.history.collapsed,
.boxViewContainer .box.history.collapsed .boxCollapsedContent {
	background-color: #cacaca;
}

.boxViewContainer .box.history .history_item {
	background-color: #036;
    color: white;
}

.boxViewContainer .box.history .history_item:hover {
    background-color: #258;
}

.boxViewContainer .box.history .history_item span.history_status {
    background-color: #fff;
}

.boxViewContainer .box.history .history_item.collapsed {
    color: #666;
}

.boxViewContainer .box.history .history_item.collapsed span.history_status {
    background-color: #666;
}

.boxViewContainer .box.history .history_item.closed span.history_status {
    background-color: #000;
}


.boxViewContainer .box.history .history_item span.history_action {
    color: #c60;
}

.boxViewContainer .box.history .history_item span.history_action:hover {
    color: #fc0;
}

/* Index Box */
.boxViewContainer .box.index .boxHeader, 
.boxViewContainer .box.index.collapsed,
.boxViewContainer .box.index.collapsed .boxCollapsedContent {
	background-color: #7d7d7d;
}





/* *********************************** */
/* Widget - Header */
/* *********************************** */
.boxViewContainer .box .widgetHeader {
	border-bottom: 1px solid #FFF;	
	background-color: #c2c2c2;
}

/* 
   Height of the widget Header
   The widget header height involves the height of the div itself, the list elements that contains icons, the h4 containing the title	
 */
.boxViewContainer .box .widgetHeader, .boxViewContainer .box .widgetHeader li, .boxViewContainer .box .widgetHeader li a, .boxViewContainer .box .widgetHeader h4 {
	height: 126px;
}

/* Line height of the h4 text, compared to the widget header height, suggest how the text will be positioned */
.boxViewContainer .box .widgetHeader h4 {
	line-height: 28px;
}

.boxViewContainer .box .widgetHeader h4 {
	font-weight: bold;
	color: #555555;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Generic Content widget style */
.boxViewContainer .box .widget {
	background-color: #ededed;
}
.boxViewContainer .box .widgetContent {
	font-size: 12px;
	line-height: 20px;
}
	
/* Theme custom Widget's icons */
/* Widget's icons */
/* Icons on the left side of the H4 title */
.boxViewContainer .box .widgetHeader .leftIcons li.collapse a.expanded {
	background: transparent url(images/widget/widget_icon_expanded.png) top left no-repeat;
	background-position: center 5px;
	background-repeat: no-repeat;
}
.boxViewContainer .box .widgetHeader .leftIcons li.collapse a.expanded:hover {
	background: transparent url(images/widget/widget_icon_expanded_ro.png) top left no-repeat;
	background-position: center 5px;
	background-repeat: no-repeat;
}	
.boxViewContainer .box .widgetHeader .leftIcons li.collapse a.collapsed {
	background: transparent url(images/widget/widget_icon_collapsed.png) top left no-repeat;
	background-position: center 5px;
	background-repeat: no-repeat;
}
.boxViewContainer .box .widgetHeader .leftIcons li.collapse a.collapsed:hover {
	background: transparent url(images/widget/widget_icon_collapsed_ro.png) top left no-repeat;
	background-position: center 5px;
	background-repeat: no-repeat;
}

/* Icons on the right side of the H4 title */
.boxViewContainer .box .widgetHeader .rightIcons li a {
	border-left: 1px solid #9d9d9d;
}
.boxViewContainer .box .widgetHeader .rightIcons li.previous a {
	background: transparent url(images/widget/widget_icon_back.png) top left no-repeat;
}
.boxViewContainer .box .widgetHeader .rightIcons li.next a {
	background: transparent url(images/widget/widget_icon_forward.png) top left no-repeat;
}
.boxViewContainer .box .widgetHeader .rightIcons li.zoom a {
	background: transparent url(images/widget/widget_icon_zoom.png) top left no-repeat;
}
.boxViewContainer .box .widgetHeader .rightIcons li.drag a {
	background: transparent url(images/widget/widget_icon_drag.png) top left no-repeat;
}

/* Widgeted Index */
.boxViewContainer .box .widget ul li {
	border-bottom: 1px solid #d3d3d3;
}
.boxViewContainer .box .widget ul li a {
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	/* color: #535353; */
	font-size: 14px;
}
.boxViewContainer .box .widget ul li a:hover {
	text-decoration: underline;
}
/* Icon used for this index item */
.boxViewContainer .box .widget ul li img {
    height: 35px;
    border: 1px solid #d3d3d3;
}

